<script type="text/javascript">
    (function() {
        if (typeof carrotquest === 'undefined') {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.carrotquest.io/api.min.js';
            var x = document.getElementsByTagName('head')[0];
            x.appendChild(s);
            carrotquest = {};
            window.carrotquestasync = [];
            carrotquest.settings = {};
            m = ['connect', 'track', 'identify', 'auth', 'open', 'onReady', 'addCallback', 'removeCallback', 'trackMessageInteraction'];

            function Build(name, args) {
                return function() {
                    window.carrotquestasync.push(name, arguments);
                }
            }
            for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
        }
    })();
    carrotquest.connect('');
</script>
<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2098751990353631');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2098751990353631&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46346796 = new Ya.Metrika({
                    id: 46346796,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {}
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46346796" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
            <a class="navbar-brand" href="http://www.bananacoin.io/">
                <img alt="Brand" src="/img/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/jp">プロジェクト </a></li>
                <li><a href="/jp/plantation/">エコ農園</a></li>
                <li><a href="/profile">個人アカウント</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social">
                    <a href="https://t.me/bananacoinjapan" target="_blank" class="fa fa-telegram"></a>
                    <a href="/img/qrcode_for_bananacoin_wechat.jpg" target="_blank" class="fa fa-wechat"></a>
                    <a href="https://twitter.com/Bananacoinico" target="_blank" class="fa fa-twitter-square"></a>
                    <a href="https://www.facebook.com/bananacoin/" target="_blank" class="fa fa-facebook-official"></a>
                    <a href="https://www.youtube.com/channel/UCkCZUIafAmqPX0ZnVO0DWdA" target="_blank" class="fa fa-youtube-play"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="flag jp"></span>日本語 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/"><span class="flag gb"></span>English</a></li>
                        <li><a href="/ru"><span class="flag ru"></span>Русский</a></li>
                        <li><a href="/kr"><span class="flag kr"></span>한국어</a></li>
                        <li><a href="/cn"><span class="flag cn"></span>中文 </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>