img {
    border: none;
    max-width: 100%;
}

body {
    background: $white url(/img/bananas.png);
    background-size: 258px 269px;
}

main {
    width: 100%;
    overflow-x: hidden;
}

* {
    outline: none;
}

body.en {
    h1, h2, h3 { 
        font-family: 'London Two', $font-family-sans-serif;
        font-weight: normal;
    }
}

h2 {
    margin: 2vh 0;
}

.panel {
    background: $white;
    border-radius: 4px;
    padding: 30px 40px 50px 40px;
    @include bananashadow();
}

::selection {
    background: $yellow; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $yellow;
}

.play {
    width: 60px; height: 60px;
    background-image: url(/img/play.svg);
    background-size: cover;
}