img {
    border: none;
    max-width: 100%;
}

body {
    background: $white url(/img/bananas.png);
    background-size: 258px 269px;
}

main {
    width: 100%;
    overflow-x: hidden;
}

* {
    outline: none;
}

body.en,
body.ind {
    h1, h2, h3 { 
        font-family: 'London Two', $font-family-sans-serif;
        font-weight: normal;
    }
}

h2 {
    margin: 2vh 0;
}

.panel {
    background: $white;
    border-radius: 4px;
    padding: 30px 40px 50px 40px;
    @include bananashadow();
}

::selection {
    background: $yellow; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $yellow;
}

.play {
    width: 60px; height: 60px;
    background-image: url(/img/play.svg);
    background-size: cover;
}

.slick-dots {
    display: flex;
    padding: 0;
    margin: -20px 0 0 0;
    justify-content: center;
    position: relative;
    li {
        list-style: none;
        padding: 5px;
        button {
            text-indent: -5000px;
            width: 10px;
            height: 10px;
            background-color: #cbcbcb;
            border-radius: 5px;
            border: none;
            overflow: hidden;
            padding: 0;
            outline: none;
            transition: background-color .2s;
        }
        &.slick-active button {
            background-color: $black;
        }
    }
}