footer {
    background: $white;
    min-height: 120px;
    padding: 32px 0;
    line-height: 44px;
    font-size: 16px;
    color: lighten($black, 15%);
    img {
        height: 44px;
    }
    .mini {
        line-height: 1.2;
        color: lighten($black, 50%);
        font-size: 12px;
    }
}

@include media-breakpoint-down(sm) { 
    footer {
        text-align: center;
        height: auto;
        padding: 32px 0;
        line-height: 44px;
        font-size: 16px;
        color: lighten($black, 15%);
        img {
            height: 36px;
            margin: 10px auto 0 auto;
            display: block;
        }
        .mini {
            font-size: 12px;
        }
    }
}