nav.navbar {
    a {
        &:hover {
            text-decoration: none;
            color: $gray-dark;
        }
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
    }
    .navbar-brand {
        img {
            width: 63px;
            height: 63px;
        }
    }
}
