nav.navbar {
    height: 120px;
    background: $white;
    > .container {
        height: 71px;
    }
    a {
        &:hover {
            text-decoration: none;
            color: $gray-dark;
        }
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        &.dropdown-toggle {
            &:after {
                display: inline-block;
                width: 7px;
                height: 7px;    
                margin-left: .5em;
                margin-top: -4px;
                vertical-align: middle;
                border-top: none;
                border-right: 2px solid $black;
                border-bottom: 2px solid $black;
                border-left: none;
                transform: rotate(45deg);
            }
        }
    }

    .dropdown-menu {
        border: none;
        border-radius: 4px;
        @include bananashadow();
    }
    .nav-item {
        margin-right: 20px;
        &.profile .nav-link {
            border-radius: 4px;
            border: solid 1px #000000;
            width: 124px;
            text-align: center;
        }
    }
    .navbar-brand {
        padding: 4px 0;
        margin: 0;
        margin-right: 37px;
        img {
            width: 63px;
            height: 63px;
        }
    }
    .navbar-right {
        .nav-item {
            margin-right: 0;
            margin-left: 20px;
        }
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 8px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            background: $black;
            color: $white;
            line-height: 30px;
            text-decoration: none !important;
            overflow: hidden;
            &.fa-telegram {
                color: #000;
                background: #FFF;
                font-size: 32px;
                text-indent: -1px;
            }
        }
    }
}

@media all and (min-width: 1480px) {
    nav.navbar {
        .nav-link {
            font-size: 18px;
        }
        .navbar-brand {
            position: absolute;
            left: -100px;
        }
        .nav-item.profile {
            margin: 0;
            .nav-link {
                position: absolute;
                left: 100%;
            }
        }
    }
}


@include media-breakpoint-down(md) {
    body { background: $white; }
    $navheight: 70px;
    nav.navbar {
        height: $navheight;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: transparent;
        .navbar-brand { 
            margin: 0; 
            padding: 0;
            position: absolute;
            left: 20px;
            top: 15px;
            z-index: 11;
            transition: all .2s;
            img { width: 40px; height: 40px; }
        }
        .nav-item { margin: 0 0 10px 0 !important; }
        .profile .nav-link { margin: 5px auto; }
        &.show {
            background-color: $white;
        }
        > .container {
            position: relative;
            width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .social {
            display: none;
        }
        .lang { 
            position: absolute; left: 20px; top: 5px; 
            .dropdown-menu {
                position: absolute;
                min-width: auto;
            }
        }
    }
    .navbar-toggler {
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        background-color: $white;
        position: absolute;
        top: 15px;
        right: 20px;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
        outline: none !important;
        &:not(.collapsed) {
            ~ .container .navbar-brand {
                left: 50%;
                margin-left: -20px;
                margin-top: 10px;
            }
        }
        &:before, &:after {
            content: '';
            display: block;
            width: 18px;
            position: absolute;
            top: 20px;
            left: 11px;
            border-color: $black;
            border-top-width: 2px;
            border-top-style: solid;
            transform: rotate(45deg);
            transition: transform .1s;
        }
        &:before {
            transform: rotate(-45deg);
        }
        &.collapsed {
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            &:before, &:after {
                transform: rotate(0deg);
            }
            &:before {
                border-bottom-style: solid;
                border-bottom-width: 2px;
                height: 7px;
                top: 15px;
            }
            &:after {
                top: 25px;
                width: 10px;
            }
        }
    }
    .navbar-collapse {
        position: relative;
        background: $white;
        padding: 70px 15px 15px 15px;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        margin: 10px;
        text-align: center;
    }
    main {
        padding-top: $navheight;
    }
}