.partners {
    padding: 3vh 0 2vh 0;
    position: relative;
    text-align: center;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1300px;
        position: absolute;
        left: 0;
        top: -1px;
        background: $ltblue;
        z-index: 0;    
        clip-path: polygon(0 0, 100% 0, 100% 550px, 0 1300px);
    }
    .col-md-4 {
        text-align: center;
        margin: 2vh 0;
        img {
            max-width: 165px;
            margin: 0 auto;
            max-height: 120px;
            filter: grayscale(1);
            opacity: 0.5;
            transition: all .2s;
        }
        a:hover img {
            filter: none;
            opacity: 1;
        }
    }
}