form[name=subscribtion_form] {
    position: relative;
    border-radius: 4px;
    border: solid 1px #000000;
    padding: 2px;
    input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        height: 62px;
        padding: 20px 0 20px 30px;
        font-size: 16px;
        font-weight: 600;
        color: $black;
    }
    .d-flex {
        > *:first-child { flex: 1 }
    }
    .btn {
    }
}

.subscribe {
    background: $ltblue;
    padding: 3vh 0 2vh 0;

    .social {
        a {
            margin: 0 30px 0 0;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            background: #989898;
            color: $ltblue;
            line-height: 30px;
            text-decoration: none !important;
            overflow: hidden;
            opacity: 0.7;
            &.fa-telegram {
                color: #989898;
                background: $ltblue;
                font-size: 32px;
                text-indent: -1px;
            }
            &:hover { opacity: 1 }
        }
    }
}