<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin | Profitable and gaining popularity blocking option for investing in a reliable and fast-growing cryptocurrency of 2017 | Next generation ICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="zHG3u_bHBY3frWHXm4QZaGQBnbCUjYESWJwAJQeGfBA">
    <meta name="description" content="Next level cryptocurrency of 2017. A new reliable ico is gaining popularity. Investments in the fastest growing token with 100% growth to 2018.">
    <meta name="keys" content="cryptocurrency, profitable cryptocurrency 2017, cryptocurrency news 2017, russian cryptocurrency, cryptocurrency investments, blockchain and cryptocurrency, next level cryptocurrency, new cryptocurrency 2017, new blockchain, next-level cryptocurrency 2017, top 10 cryptocurrency, cryptocurrency 2018, blockchain campaign, blockchain 2017, ico blockchain, telegram cryptocurrency, popular cryptocurrency, reliable cryptocurrency">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        <div class="subscribe">
            <div class="container">
                <h2>Subscribe</h2>
                <p>Be the first to know about BananaCoin news</p>
                <form method="POST" action="https://cp.unisender.com/ru/subscribe?hash=6kcn93bw8orctth6roddm7i5ermmxudq3qq1cz3ei9r5cnxcmideo" name="subscribtion_form">
                    <div class="col-md-8"><input type="text" name="email" value="" placeholder="E-mail"></div>
                    <div class="col-md-4"><button type="submit" onClick="sendEvent('Lead')">Subscribe</button></div>
                    <input type="hidden" name="charset" value="UTF-8">
                    <input type="hidden" name="default_list_id" value="10608469">
                    <input type="hidden" name="overwrite" value="2">
                    <input type="hidden" name="is_v5" value="1">
                </form>
            </div>
        </div>
        <div class="countdown">
            <div class="container">
                <h2>BananaCoin promotional video</h2>
                <iframe width="560" height="315" style="max-width:100%" src="https://www.youtube.com/embed/_nwWJzXZYVs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <h2>Why invest in BananaCoin</h2>
                <h5>Bananacoin is the world's first blockchain option for investing in the production of organic bananas in Vientiane province, the Lao PDR.</h5>
                <ol>
                    <li>The deficit of export of bananas to China is estimated at 30,000 hectares, the consumption growth is increasing and more Chinese plantations are being closed for the use of chemistry
                    </li>
                    <li>The price of token Bananacoin is protected by the cost of one kilogram of bananas
                    </li>
                    <li>Having invested in Bananacoin you have the opportunity to get a minimum of 100% profit of the project implementation</li>
                    <li>Our business is completely transparent, we have already passed all stages of its development and consider ourselves to be professionals in it</li>
                    <li>Bananacoin is a full-fledged financial instrument that will be freely traded on the exchange</li>
                    <li>Every investor has the right to personally visit our plantations in Vientiane province, the Lao PDR
                    </li>
                    <li>Our business is easy to scale and it is growing into a serious player in the Asian fruit market</li>
                    <li>Cultivated variety of bananas Finger Lady is the most expensive and the most popular on the Chinese market
                    </li>
                </ol>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>Video about the project</h2>
                <p>Through these pictures you can feel the full scope of the BananaCoin project</p>
                <div class="row">
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/SYd4m6IRfCM?autoplay=1">
                            <img src="/img/vid1.jpg" alt="Welcome to the world of BananaCoin!">
                        </a>
                        <h3>Welcome to the world of BananaCoin!</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/dT6dMY-7NlU?autoplay=1">
                            <img src="/img/vid2.jpg" alt="Legal information">
                        </a>
                        <h3>Legal information</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/tzoRWZAX-CA?autoplay=1">
                            <img src="/img/vid3.jpg" alt="Shooting of a new plot of 360 hectares">
                        </a>
                        <h3>Shooting of a new plot of 360 hectares</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>Team</h2>
                <p>The team of the Bananacoin project is a solidary group of like-minded people who have a serious and successful business development experience</p>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/OD.jpg" alt="Oleg D">
                        <h3>Oleg Dobrovolsky</h3>
                        <span>He is a Russian entrepreneur and philanthropist. He has been developing the agroindustrial and ore complex in Lao PDR. </span>
                        <p>His experience in the agro-industrial field is 3 years.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/AB.jpg" alt="Alex B">
                        <h3>Alexander Bychkov</h3>
                        <span>He was engaged in starting from scratch projects in wholesale and retail trade. In the project he is responsible for marketing and communications.</span>
                        <p>His experience in marketing is 17 years.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/AM.jpg" alt="Alex M">
                        <h3>Alexander Magomedov</h3>
                        <span>He has been living in Lao PDR for 17 years.
The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.</span>
                        <p>His experience in the agro-industrial field is 3 years.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/DM.jpg" alt="Dmitry M">
                        <h3>Dmitry Mazutov</h3>
                        <span>
He is a representative in China, Sichuan Province. He is a Specialist in foreign economic activity and an interpreter of English and Chinese languages.</span>
                        <p>His experience of work in China is 7 years.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/PS.jpg" alt="Mr. Prasan Sangsatjatham">
                        <h3>Mr. Prasan Sangsatjatham</h3>
                        <span>He is the leading agronomist of the project. He graduated from Kasetsart University in Bangkok, Thailand, the agroindustrial faculty. He has been growing bananas in Thailand for a long time.</span>
                        <p>His experience in the agro-industrial sector is 12 years.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/EH.jpg" alt="Eugene Khashin">
                        <h3>Eugene Khashin</h3>
                        <span>CTO<br>
Education: TSU - Mathematician, Aptech CE - Database specialist. Co-founder of the first Russian PaaS "Dokkur", CTO "Swanager - infrastructure provider".</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>Advisors</h2>
                <p>Our technical partner (adviser) is always ready to answer queries and talk about the current work with BananaCoin</p>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <img src="/img/PP.jpg" alt="Peter Peng">
                        <h3>Peter Peng</h3>
                        <span> He is the CEO of Oren Irrigation Equipment Ltd., the company has in its own portfolio 10,000 hectares of irrigated land. The company is engaged in irrigation,
automation of processes in the agroindustrial complex, sale of equipment and training of personnel. </span>
                        <p><a href="http://oren-china.com/">http://oren-china.com/</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>Translators</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/al.jpg" alt="Anna Lesheva">
                        <h3>Anna Leschova</h3>
                        <span> Graduated from the Chelyabinsk State University, Faculty of Eurasia and the Orient, specialty - regional studies.Certificate of JPLT N1. Been in Japan twice. She worked in large international companies (Mitsubishi, Bridgestone). Site, whitepape and subtitles for videos translation, support in chats.</span>
                        <p><a href="mailto:dafna31@yandex.ru">dafna31@yandex.ru
</a></p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/zs1.jpg" alt="Zakhar Smirnov">
                        <h3>Zakhar Smirnov</h3>
                        <span> Translator, I work with two foreign languages, English and Chinese. Blockchain activist since 2012. Linguistic education, Chinese taught in China.</span>
                        <p>Telegram - @zakharsmirnoff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team partners">
            <div class="container">
                <h2>Partners</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/logos/oren.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/logos/Emblem_of_Laos.svg" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/logos/chendu.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/logos/lemon_d.png" alt="Lemon Digital - анимационные ролики для ICO">
                    </div>
                    <div class="col-md-4">
                        <a href="https://lawstrust.com/en" border="0"><img src="/img/lawtrust.png" alt="Law Trust"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team partners">
            <div class="container">
                <h2>Info partners</h2>
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://happycoin.club" target="_blank"><img src="/img/hp.jpg" alt="happycoin.club"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://tokentops.com/" target="_blank"><img src="/img/logos/tokentop.jpg" alt="https://tokentops.com/"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://freedman.club" target="_blank"><img src="/img/logos/freedman.png" alt="freedman.club"></a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://icolist.today/" target="_blank"><img src="/img/icolistlogo.png" alt="http://icolist.today/"></a>

                    </div>
                    <div class="col-md-4">
                        <a href="http://crypto.pro" target="_blank"><img src="/img/cp.png" alt="http://crypto.pro/"></a>

                    </div>
                    <div class="col-md-4">
                        <a href="https://www.trackico.io/" target="_blank"><img src="/img/track_ico.png" alt="https://www.trackico.io/"></a>

                    </div>

                </div>
            </div>
        </div>
        {% include 'footer.html' %}