<!doctype html>
<html>

<head>
    <title>BananaCoin | Profitable and gaining popularity blocking option for investing in a reliable and fast-growing cryptocurrency of 2017 | Next generation ICO</title>
    <meta name="description" content="Next level cryptocurrency of 2017. A new reliable ico is gaining popularity. Investments in the fastest growing token with 100% growth to 2018.">
    <meta name="keys" content="cryptocurrency, profitable cryptocurrency 2017, cryptocurrency news 2017, russian cryptocurrency, cryptocurrency investments, blockchain and cryptocurrency, next level cryptocurrency, new cryptocurrency 2017, new blockchain, next-level cryptocurrency 2017, top 10 cryptocurrency, cryptocurrency 2018, blockchain campaign, blockchain 2017, ico blockchain, telegram cryptocurrency, popular cryptocurrency, reliable cryptocurrency">
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        {% include 'team.html' %}
        {% include 'partners.html' %}
        {% include 'faq.html' with {limit:7} %}
        {% include 'footer.html' %}