<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin | Profitable and gaining popularity blocking option for investing in a reliable and fast-growing cryptocurrency of 2017 | Next generation ICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="zHG3u_bHBY3frWHXm4QZaGQBnbCUjYESWJwAJQeGfBA">
    <meta name="description" content="Next level cryptocurrency of 2017. A new reliable ico is gaining popularity. Investments in the fastest growing token with 100% growth to 2018.">
    <meta name="keys" content="cryptocurrency, profitable cryptocurrency 2017, cryptocurrency news 2017, russian cryptocurrency, cryptocurrency investments, blockchain and cryptocurrency, next level cryptocurrency, new cryptocurrency 2017, new blockchain, next-level cryptocurrency 2017, top 10 cryptocurrency, cryptocurrency 2018, blockchain campaign, blockchain 2017, ico blockchain, telegram cryptocurrency, popular cryptocurrency, reliable cryptocurrency">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        {% include 'team.html' %}
        {% include 'partners.html' %}
        {% include 'faq.html' %}
        {% include 'subscribe.html' %}
        <div class="countdown">
            <div class="container">
                <h2>BananaCoin promotional video</h2>
                <iframe width="560" height="315" style="max-width:100%" src="https://www.youtube.com/embed/_nwWJzXZYVs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <h2>Why invest in BananaCoin</h2>
                <h5>Bananacoin is the world's first blockchain option for investing in the production of organic bananas in Vientiane province, the Lao PDR.</h5>
                <ol>
                    <li>The deficit of export of bananas to China is estimated at 30,000 hectares, the consumption growth is increasing and more Chinese plantations are being closed for the use of chemistry
                    </li>
                    <li>The price of token Bananacoin is protected by the cost of one kilogram of bananas
                    </li>
                    <li>Having invested in Bananacoin you have the opportunity to get a minimum of 100% profit of the project implementation</li>
                    <li>Our business is completely transparent, we have already passed all stages of its development and consider ourselves to be professionals in it</li>
                    <li>Bananacoin is a full-fledged financial instrument that will be freely traded on the exchange</li>
                    <li>Every investor has the right to personally visit our plantations in Vientiane province, the Lao PDR
                    </li>
                    <li>Our business is easy to scale and it is growing into a serious player in the Asian fruit market</li>
                    <li>Cultivated variety of bananas Finger Lady is the most expensive and the most popular on the Chinese market
                    </li>
                </ol>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>Video about the project</h2>
                <p>Through these pictures you can feel the full scope of the BananaCoin project</p>
                <div class="row">
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/SYd4m6IRfCM?autoplay=1">
                            <img src="/img/vid1.jpg" alt="Welcome to the world of BananaCoin!">
                        </a>
                        <h3>Welcome to the world of BananaCoin!</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/dT6dMY-7NlU?autoplay=1">
                            <img src="/img/vid2.jpg" alt="Legal information">
                        </a>
                        <h3>Legal information</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/tzoRWZAX-CA?autoplay=1">
                            <img src="/img/vid3.jpg" alt="Shooting of a new plot of 360 hectares">
                        </a>
                        <h3>Shooting of a new plot of 360 hectares</h3>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}