<!doctype html>
<html>

<head>
    <title>BananaCoin | Private sale</title>
    <meta name="description" content="Next level cryptocurrency of 2017. A new reliable ico is gaining popularity. Investments in the fastest growing token with 100% growth to 2018.">
    <meta name="keys" content="cryptocurrency, profitable cryptocurrency 2017, cryptocurrency news 2017, russian cryptocurrency, cryptocurrency investments, blockchain and cryptocurrency, next level cryptocurrency, new cryptocurrency 2017, new blockchain, next-level cryptocurrency 2017, top 10 cryptocurrency, cryptocurrency 2018, blockchain campaign, blockchain 2017, ico blockchain, telegram cryptocurrency, popular cryptocurrency, reliable cryptocurrency">
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="intro">
            <div class="container">
                <h1>Private sale</h1>

                <div class="advantages" style="word-wrap: break-word;">
                    <div class="col-md-6">• Starts at <b>04 Oct 2017 23:00 GMT+03</b></div>
                    <div class="col-md-6">• Deadline at <b>18 Oct 2017 23:00 GMT+03</b></div>
                    <div class="col-md-6">• The price is <b>$0.425</b> per <b>1 BCO</b></div>
                    <div class="col-md-6">• Private-Sale Supply: <b>600,000 BCO</b></div>
                    <div class="col-md-12">
                        <h3>Crowdsale Ethereum Address: <b>0x79c35f96604665F505B63cfedA725bEE4d435C4e</b></h3>
                        <h3>Gas limit: <b>100,000</b></h3>
                    </div>
                </div>
                <div class="col-md-12 buttons">
                    <a href="/files/Bananacoin_Eng_wp_1.4.pdf" target="_blank" class="btn">Download White Paper</a>
                    <a href="plan/" class="btn">Business plan</a>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}