<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin | 바나나코인은 2017년 | 차세대 믿음직하고 빠르게 성장하는 가상화폐를 위한 수익성과 인기있는 블록체인 옵션입니다.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="zHG3u_bHBY3frWHXm4QZaGQBnbCUjYESWJwAJQeGfBA">
    <meta name="description" content="2017년의 차세대 가상화폐. 새롭고 믿음직한 ICO가 인기를 끌고 있습니다. 2018년에 2배로 성장하고 빠르게 성장하는 토큰에 투자">
    <meta name="keys" content="가상화폐, 2017 수익성이 있는 가상화폐, 2017 가상화폐 뉴스, 러시아 가상화폐, 가상화폐 투자, 블록체인과 가상화폐, 차세대 가상화폐, 2017 신규 가상화폐, 신규 블록체인, 2017 차세대 가상화폐, 가상화폐 탑 10, 2018 가상화폐, 블록체인 캠페인, 2017 블록체인, ico 블록체인, 가상화폐 텔레그램, 인기있는 가상화폐, 믿음직한 가상화폐">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        {% include 'faq.html' with {limit:7} %}
        <div class="subscribe">
            <div class="container">
                <h2>구독</h2>
                <p>BananaCoin 사전 판매에 대한 소식을 제일 먼저 받아 보세요</p>
                <form method="POST" action="https://cp.unisender.com/ru/subscribe?hash=6kcn93bw8orctth6roddm7i5ermmxudq3qq1cz3ei9r5cnxcmideo" name="subscribtion_form">
                    <div class="col-md-8"><input type="text" name="email" value="" placeholder="E-mail"></div>
                    <div class="col-md-4"><button type="submit">구독</button></div>
                    <input type="hidden" name="charset" value="UTF-8">
                    <input type="hidden" name="default_list_id" value="10608469">
                    <input type="hidden" name="overwrite" value="2">
                    <input type="hidden" name="is_v5" value="1">
                </form>
            </div>
        </div>
        <div class="countdown">
            <div class="container">
                <h2>바나나코인 홍보 영상</h2>
                <iframe width="560" height="315" style="max-width:100%" src="https://www.youtube.com/embed/_nwWJzXZYVs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <h2>BananaCoin 에 투자해야하는 이유</h2>
                <h5>BananaCoin은 세계 최초로 라오스 비엔티엔 지역의 유기농 바나나에 투자하는 블락체인 옵션입니다</h5>
                <ol>
                    <li>중국 바나나 시장의 수요를 맞추기 위해 3만 헥타르가 추가적으로 필요하다고 추정됩니다 이렇게 바나나에 대한 수요는 지속적으로 증가하고 있으나 최근 비엔티엔 지역 내 중국 투자 농장들이 화학약품 사용으로 인해 문을 닫고 있습니다</li>
                    <li>BananaCoin 토큰의 금액은 1키로의 바나나 가격으로 보호 됩니다
                    </li>
                    <li>BananaCoin에 투자 함으로써 최소 100% 수익을 낼 수 있는 기회를 얻습니다</li>
                    <li>본 사업은 완전히 투명합니다. 또한, 우리는 본 사업에 대한 전문가이며 개발에 필요한 모든 단계를 통과하였습니다</li>
                    <li>BananaCoin은 모든 자격을 갖춘 금융 상품이며 거래소에서 자유롭게 거래가 가능합니다</li>
                    <li>모든 투자자에게 라오스 비엔티엔 지역에 위치한 우리의 농장에 개인적으로 방문할 수 있는 권한이 주어집니다
                    </li>
                    <li>바나나 농산업은 확장성이 좋으며 아시아 과일 시장에서 주요 종목으로 성장하고 있습니다</li>
                    <li>Finger Lady 바나나는 중국 시장에서 가장 비싸고 가장 인기있는 바나나종입니다.
                    </li>
                </ol>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>프로젝트 영상</h2>
                <p>사진과 영상을 통해 BananaCoin 프로젝트에 대해 모든것을 느껴보세요</p>
                <div class="row">
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/SYd4m6IRfCM?autoplay=1">
                            <img src="/img/vid1.jpg" alt="Welcome to the world of BananaCoin!">
                        </a>
                        <h3>BananaCoin 세계에 오신것을 환영합니다!</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/dT6dMY-7NlU?autoplay=1">
                            <img src="/img/vid2.jpg" alt="Legal information">
                        </a>
                        <h3>법률 정보</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/tzoRWZAX-CA?autoplay=1">
                            <img src="/img/vid3.jpg" alt="Shooting of a new plot of 360 hectares">
                        </a>
                        <h3>360 헥타르의 새 농장 부지 촬영</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>구성원</h2>
                <p>BananaCoin 프로젝트팀은 성공적인 사업 개발 경험을 가진 사람들이 뜻을 함께하기 위해 모인 공동체 입니다</p>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/OD.jpg" alt="Oleg D">
                        <h3>Oleg Dobrovoslky</h3>
                        <span>러시아 출신의 사업가이자 자선가입니다. 현재 농산업과 라오스의 복합광에 대하여 연구 중입니다. </span>
                        <p>농산업 분야에서 3년간 종사하였습니다.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/AB.jpg" alt="Alex B">
                        <h3>Alexander Bychkov</h3>
                        <span>도소매 스크래치 프로젝트 부터 참여하기 시작하였습니다.
본 프로젝트에서 마케팅과 커뮤니케이션을 담당하고 있습니다.</span>
                        <p>마케팅 분야에서 17년간 종사하였습니다.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/AM.jpg" alt="Alex M">
                        <h3>Alexander Magomedov</h3>
                        <span>H라오스에서 17년 동안 살았습니다. 5년전 부터 농산업에 종사하기 시작하였습니다.
즉, 특정 바나나의 재배와 수출을 담당하고 있습니다. 
또한, 그는 라오스어에 능숙하며 비엔티엔 도지사와의 돈독한 관계를 유지하고 있습니다.</span>
                        <p>농산업 분야에서 3년간 종사하였습니다.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/DM.jpg" alt="Dmitry M">
                        <h3>Dmitry Mazutov</h3>
                        <span>
중국 사천성 지방의 담당자 입니다. 그는 대외 경제 활동과 영어 중국어 통역 전문가입니다.</span>
                        <p>중국에서 7년간 근무한 경력이 있습니다.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/PS.jpg" alt="Mr. Prasan Sangsatjatham">
                        <h3>Mr. Prasan Sangsatjatham</h3>
                        <span>이 프로젝트를 리드하고 있는 농학자 입니다. 태국 방콕 Kasetsart 대학교 농산업 학과를 졸업하였으며 태국에서 장기간 바나나를 재배한 경험이 있습니다.</span>
                        <p>농산업 분야에서 12년간 종사하였습니다.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/EH.jpg" alt="Eugene Khashin">
                        <h3>Eugene Khashin</h3>
                        <span>최고기술경영자(CTO)
<br>
학력 : TSU(텍사스남부대학) - 수학자, Aptech CE - 데이터베이스 전문가입니다. 최초의 러시아 PaaS "Dokkur"의 공동 창립자이며 인프라 제공 업체 "Swanger"의 CTO 입니다.</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>고문</h2>
                <p>기술적 파트너(고문)은 BananaCoin과 함께 질의답변과 프로젝트 현황에 대해 이야기 하도록 항상 준비되어 있다</p>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/PP.jpg" alt="Peter Peng">
                        <h3>Peter Peng</h3>
                        <span> Oren Irrigation Equipment Ltd. 의 대표자이다. 본 회사는 10,000헥타르의 토지에 관개 하고 있으며,
관개 뿐만아니라 농산업 복합지의 자동화, 농장비 판매, 인사교육에 대한 사업을 진행중이다.</span>
                        <p><a href="http://oren-china.com/">http://oren-china.com/</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <h2>번역가</h2>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <img src="/img/al.jpg" alt="Anna Lesheva">
                        <h3>Anna Leschova</h3>
                        <span> Chelyabinsk 주립 대학교 동방 유라시아학과를 졸업하였습니다. 전문분야 - 지방학. JLPT N1 등급. 일본 미쯔비스, 브리지스톤 회사에서 근무. 업무 - 홈페이지, 백서, 영상 자막 번역, 대화 채널 지원</span>
                        <p><a href="mailto:dafna31@yandex.ru">dafna31@yandex.ru
</a></p>
                    </div>
                    <div class="col-md-4">
                        <img src="/img/zs1.jpg" alt="Zakhar Smirnov">
                        <h3>Zakhar Smirnov</h3>
                        <span> 번역가, 영어와 중국어에 능통합니다. 2012년부터 블록체인 분야 활동가. 언어학, 중국에서 중국어 교육.</span>
                        <p>Telegram - @zakharsmirnoff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team partners">
            <div class="container">
                <h2>파트너사</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/logos/oren.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/logos/Emblem_of_Laos.svg" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/logos/chendu.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/logos/lemon_d.png" alt="Lemon Digital - анимационные ролики для ICO">
                    </div>
                    <div class="col-md-4">
                        <a href="https://lawstrust.com/en" border="0"><img src="/img/lawtrust.png" alt="Law Trust"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team partners">
            <div class="container">
                <h2>Info partners</h2>
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://happycoin.club" target="_blank"><img src="/img/hp.jpg" alt="happycoin.club"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://tokentops.com/" target="_blank"><img src="/img/logos/tokentop.jpg" alt="https://tokentops.com/"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://icolist.today/" target="_blank"><img src="/img/icolistlogo.png" alt="http://icolist.today/"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://freedman.club" target="_blank"><img src="/img/logos/freedman.jpg" alt="freedman.club"></a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
        