<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin : 香蕉币是在这个地区里的第一个环保种植园 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>香蕉币是在这个地区里的第一个环保种植园 </h2>
            </div>
        </div>
        <div class="about">
            <div class="container plantation">
                <img src="/img/plan1.jpg" class="main">
                <p><a href="http://www.asianews.it/news-en/Chinese-banana-plantations-banned-for-endangering-the-environment-and-farm-workers-39818.html">当前博胶省政府暂停了18个中国管辖的香蕉种植园的营业</a>，因为政府查明了使用杀虫剂的违反行为。此事情将存在由于这种事例数量增加。无法估量杀虫剂对自然界和生命的影响。杀虫剂使香蕉变成不可食用，并使可耕地受到污染。最近的6个月63%在种植园里使用杀虫剂的工人都患上了疾病。主要的症状是头痛和眩晕所以我们使用环保的鸟粪和蝙蝠肥料。此肥料能够加速新根的养成并且廷长花期并改善对细菌的抵抗力和品质。</p>
                <div class="team">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/pEW-UNKnw1Q?autoplay=1">
                                    <img src="/img/vid4.jpg">
                                </a>
                                <p>香蕉币使用只有机肥料</p>
                            </div>
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/8-vPnUJ0kws?autoplay=1">
                                    <img src="/img/vid5.jpg" alt="Первые шаги для открытия плантации">
                                </a>
                                <p>开展种植园的初阶段</p>
                            </div>
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/saxRqUOIOvs?autoplay=1">
                                    <img src="/img/vid6.jpg" alt="Очень важные документы">
                                </a>
                                <p>很重要的文件</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal4.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal4-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal5.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal5-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal7.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal7-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal8.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal8-t.jpg" /></a>
                    </div>
                </div>

            </div>
        </div>
    </main
    {% include 'footer.html' %}>