<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin : Начни инвестировать</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'faq.html' %}
        {% include 'footer.html' %}