<!doctype html>
<html>

<head>
    <title>Bananacoin 老挝首个环保种植园已经在Ethereum发行了实用代币，与1公斤香蕉的出口价格挂钩。</title>
    <meta name="description" content="">
    <meta name="keys" content="">
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        <a name="plantation" id="plantation"></a>
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        <a name="team" id="team"></a>
        {% include 'team.html' %}
        {% include 'partners.html' %}
        {% include 'newslist.html' %}
        <a name="faq" id="faq"></a>
        {% include 'faq.html' with {limit:7} %}
        {% include 'footer.html' %}