<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin : Начни инвестировать</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>Бизнес модель развития проекта BananaCoin на примере плантации в 100 га</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>Плантация в 100 гектар, засеянная бананами сорта "Finger Lady", приносит доход с продажи культуры в размере 4.520.000 USD за один урожай, при условии цены в 1 USD за 1 кг экспортированных экологически чистых плодов.</p>
                <p>Для эффективного роста растений рекомендовано, чтобы расстояния между лунками, куда сажают саженцы бананов, было не меньше 1,82 на 1,52 метров, что дает нам порядка 3 616 штук кустов на один гектар. На 100 гектар мы имеем 361 600 куст.</p>
                <p>Каждый куст сорта "Finger Lady" дает 12,5 (двенадцать целых пять десятых) килограмм экспортного экологически чистого урожая (неподходящие плоды срезают), что при цене 1 USD за 1 кг и 361 600 кустами на плантации в 100 гектар даёт доход
                    с продажи 4.520.000 USD.</p>

                <h3>Инвестиционные затраты на запуск плантации в 100 га</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Затраты на 100 га в долларах</th>
                            <th>Единица</th>
                            <th>Стоимость на га</th>
                            <th>Всего</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Аренда земли</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Расчистка земли</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Ирригационная система</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Тракторы и техника</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Дороги и резервуары</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Электролинии и трансформаторы</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Навес для готовой продукции</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Растения</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Склады и хранилища</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Автомобили</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Затраты на труд в 1 год</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>ИТОГО</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>
                <p>Период полного созревания плодов, начиная с посадки, обычно занимает 8 месяцев с момента высадки в грунт. Банан растение многолетние (до 9 лет), после сбора урожая, выбираются наиболее сильные побеги от основного ствола, основной ствол
                    срезается, которые образуют растение под следующий урожай. Слабые побеги убираются. Период созревания плодов со второго цикла составляет 5 месяцев.</p>

                <h3>Расчет экономики на первый урожай</h3>
                <p>Кроме инвестиционных затрат, ежегодно плантация несет следующие расходы.</p>

                <h3>Таблица 2 - Операционные расходы первого года</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Удобрения</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Электричество</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Упаковка и транспортировка</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Всего</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Со второго года также добавляется расходы, внесенные изначально в инвестиционные.</p>
                <h3>Операционные расходы начиная со второго года</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Аренда земли + 3% годовых</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>Затраты на труд</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Удобрения</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Электричество</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Упаковка и транспортировка</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Всего</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Внимание! По законодательству Лаосской НДР весь бизнес в первые четыре года полностью освобожден от налогообложения.</p>
                <p>Прибыль по итогам первого урожая составит:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>При условии стоимости 1 USD за 1 кг экологически чистых экспортных бананов</p>

                <img src="/img/banana-chart.gif">

                <p>За время функционирования нашей плантации в провинции Вьентьян, Лаосская НДР, мы составили график колебания цен, на котором прекрасно видно, что цена еще ни разу не опускалась ниже 1,14 USD (100 Юаней за 13 кг короб бананов). </p>
                <p>Как мы уже рассказывали, количество китайских плантаций сокращается, дефицит бананов растет, цена будет только повышаться. В отдельных месяцах цена уже доходила до 3,5 USD (300 Юаней за 13 кг короб бананов).</p>
                <p>Инвестиционное предложение, сформированное нашей командой основано на цене в 1 USD за 1 кг. Исходя из нашей экономической модели мы имеем возможность полностью выполнить условия блокчейн-опциона через 18 месяцев после проведения ICO. </p>
                <p>Полный бизнес план вы сможете найти в "Личном кабинете"</p>

            </div>
        </div>
        {% include 'footer.html' %}