<!doctype html>
<html>

<head>
    <title>BananaCoin ICO: Business plan </title>
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>100 Hektarlık tarım arazisi örneğiyle Bananacoin proje gelişimi iş modeli</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>1 kg ihraç edilen organik meyve fiyatının 1 USD olması koşulunda, ''Lady Finger'' muz çeşidi ile ekilen 100 hektarlık araziden elde edilen bir hasattan 4.250.000 USD'lık gelir elde edilmekte.
                </p>
                <p>Verimli bir hasat için tavsiye edilen, muz fidanlarının dikileceği topraktaki çukurların arasındaki mesafenin en az 1,82 x 1,52 metre olmasıdır. Bu koşul altında, 1 hektarlık alana, 3.616 muz fidanı, toplamda ise 3.616.000 muz fidanını 100 hektarlık alana sığdırabiliyoruz.</p>
                <p>Her bir ''Lady Finger'' muz  ağacından, ihraa hazır 12,5 kg organik mahsül elde ediliyor (uygun olmayan muzlar kesilip atılıyor). Eğer 1 kg muz 1 USD ile satılırsa, 100 hektarlık arazideki 361.600 ağaçtan 4.250.000 USD gelir elde ediliyor.</p>

                <h3>100 Hektarlık arazide üretime başlamak için gerekli olan yatırım miktarı</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>100 hektarlık alanın USD cinsinden maliyeti</th>
                            <th>Birim</th>
                            <th>Her bir 1 hektarlık alan maliyeti</th>
                            <th>Toplam</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Arazi kirası</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Arazinin temizlenmesi </td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Sulama sistemi</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Traktör ve makinalar</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Yollar ve tanklar</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Elektrik hatları ve trafolar</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Hazır üretim yeri</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Bitkiler (fidanlar)</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Ambar ve depolar</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Araçlar</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>1 Yıllık işçilik maliyetleri</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>Toplam</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>
                <p>Meyvenin tam olarak olgunlaşma dönemi, ekimden başlar ve genellikle bitkinin toprağa yerleştirilmesinden itibaren 8 ay sürer. Muz uzun dönemlik bir bitkidir (9 yıla kadar). Hasattan sonra ana gövdeden seçilen güçlü filizler bir sonraki ekim işlemi için ayrılır. Ana gövde kesilir, zayıf dallar ayrılır. İkinci ekimden sonraki olgunlaşma süresi 5 aydır.</p>

                <h3>İlk hasat için mali hesap</h3>
                <p>Yatırım maliyitine ek olarak, her yeni bir yılda ekim yapılabilmesi için aşağıdaki maliyetler ortaya çıkar </p>

                <h3>İlk yıl için operasyonel maliyetler</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Gübre</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Elektrik</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Paketleme ve nakliye</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Toplam</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Başlangıçta yatırım harcamalarına giren maliyetler, ikinci yılda da maliyet tablosuna eklenir</p>
                <h3>İkinci yıl için operasyonel maliyetler</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Her bir yıl için arazi kira artışı +3%</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>İşçilik maliyetleri</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Gübre</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Elektrik</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Paketleme ve nakliye</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Toplam</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Lütfen buna dikkat! Lao Demokratik Halk Cumhuryeti yasaları gereği ilk 4 yıl içerisinde işletmeler vergiler muaftır.</p>
                <p>İlk hasattan elde edilecek kar:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>İhraç edilen 1 kg organik muz fiyatının 1 USD olması koşulu ile</p>

                <img src="/img/price_chng.jpg">
                <br>
                <p>Laos'un Vientiane bölgesinde yaptığımız tarımsal üretimimiz boyunca, muz fiyatlarını en iyi şekilde gösteren bir grafik hazırladık. Grafikte de görüldüğü gibi, 1 kg muzun fiyatı 1,14 USD'nin altına inmemiştir. (13 kg muz100 yuan değerinde). </p>
                <p>Daha önce de belirttiğimiz üzere, Çin destekli muz üretim alanlarının sayısı azalıyor, ve muza olan ihtiyaçtan dolayı arz açığı ise sürekli artıyor.  Bazı aylarda muzun kilogram fiyatının 3,5 USD'ye ulaştığı görülüyor. (13 kg  muz 300 yuan değerinde).
                </p>
                <p>Ekibimizin önerdiği yatırım planında 1 kg muzun satış fiyatı 1 USD'dir. .ekonomik büyüme modelimize göre, ön dijital para satışı döneminden (ICO) 18 ay sonra, blok zincir seçeneğinin şartlarını tamamen yerine getirmiş olacağız.</p>
                <p>Bütün işletme planımızı ''Hesabım'' bölümünde bulabilirsiniz.</p>

            </div>
        </div>

        {% include 'footer.html' %}