<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>bananacoin.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
                <a class="navbar-brand" href="/"><img alt="Brand" src="/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Проект</a></li>
                    <li><a href="/plantation">Эко плантация</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <!--li><a href="#">Вход в личный кабинет</a></li>
                    <li><a href="#">Регистрация</a></li-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Русский <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/en">English</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>