<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
            <a class="navbar-brand" href="/ru"><img alt="Brand" src="/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/ru/">Проект</a></li>
                <li><a href="/ru/plantation">Эко плантация</a></li>
                <li><a href="/ru/faq">FAQ</a></li>
                <li><a href="/pre-ico/">Pre-ICO</a></li>
                <li><a href="/profile">Profile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social">
                    <a href="https://t.me/bananacoin" target="_blank" class="fa fa-telegram"></a>
                    <a href="https://twitter.com/Bananacoinico" target="_blank" class="fa fa-twitter-square"></a>
                    <a href="https://www.facebook.com/bananacoin/" target="_blank" class="fa fa-facebook-official"></a>
                    <a href="https://www.youtube.com/channel/UCkCZUIafAmqPX0ZnVO0DWdA" target="_blank" class="fa fa-youtube-play"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="flag ru"></span>Русский <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/"><span class="flag gb"></span>English</a></li>
                        <li><a href="/cn"><span class="flag cn"></span>中文</a></li>
                        <li><a href="/kr/"><span class="flag kr"></span>한국어</a></li>
                        <li><a href="/files/Bananacoin_wp_1.4jp.pdf"><span class="flag jp"></span>プレゼンテーション資料</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>