<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin : New standard upgrade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>New standard upgrade</h2>
            </div>
        </div>
        <div class="about">
            <div class="container plantation">

                <h3>We read all your advices about buy-back of tokens during ICO and we've decided to make a global update of
                    our token.</h3>
                <p>Meet BananaCoin Extended - a token with additional features
                    <b>
                        <a href="https://github.com/Dexaran/ERC23-tokens/tree/Recommended#erc23-token-standard">ERC223</a>
                    </b>.</p>

                <p>Current token BananaCoin 1.0 is ERC20 standard, which is ok for basic purposes (send and store), but it doesn't
                    have additional features, which can be used for transparent buy-back of the tokens.</p>

                <p>We've added these functions to automate the buy-back process.</p>
                <p>
                    <br/>New token address (
                    <u>do not send ETH to this address, it's a token, not a crowd-sale contract</u>):</p>
                <h3>
                    <a href="https://etherscan.io/token/0x865d176351f287fe1b0010805b110d08699c200a" target="_blank">https://etherscan.io/token/0x865d176351f287fe1b0010805b110d08699c200a</a>
                    </b>.</h3>
                <p>
                    <br/>
                    <b>Attention! Due to update and several bug-fixes, smart-contract was updated as well.</b>
                </p>
                <p>Actual smart-contract version (
                    <u>yes, here you can send your ETH</u>):</p>
                <h3>
                    <a href="https://etherscan.io/address/0x87be69e5c196e0309cdf6957fd7141fda1df2b97" target="_blank">https://etherscan.io/address/0x87be69e5c196e0309cdf6957fd7141fda1df2b97</a>.</h3>

                <p>All investors who used old smart-contract need to make a REFUND and send ETH to new address.</p>

                <p>We guarantee that same amount of tokens will be issued. We will send additional tokens to your account in
                    24 hours after sending ETH to new smart-contract.</p>
                <p>Step-by-step instruction for
                    <b>MyEtherWallet</b> for REFUND. Write to Eugene (
                    <a href="http://t.me/adastreamer">adastreamer</a>) if help needed:</p>

                <h3>
                    <a href="https://docs.google.com/document/d/11TH-6XQZsMSuwt-wbjSczZ21NFz1YohgSDhlDIHExW0" target="_blank">https://docs.google.com/document/d/11TH-6XQZsMSuwt-wbjSczZ21NFz1YohgSDhlDIHExW0</a>
                </h3>

                <p>We will issue 10% bonus for all crowdsale-contract investors for this action.</p>

                <h3>If you use Profile section to get your tokens, you have nothing to do. You will get your Extended Tokens
                    automatically. You will get email notification.</h3>





            </div>
        </div>
    </main>
    {% include 'footer.html' %}