<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2098751990353631');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2098751990353631&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
            <a class="navbar-brand" href="http://www.bananacoin.io/">
                <img alt="Brand" src="/img/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/cn">项目</a></li>
                <li><a href="/cn/plantation/">种植园</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social">
                    <a href="https://t.me/bananacoineng" target="_blank" class="fa fa-telegram"></a>
                    <a href="https://twitter.com/Bananacoinico" target="_blank" class="fa fa-twitter-square"></a>
                    <a href="https://www.facebook.com/bananacoin/" target="_blank" class="fa fa-facebook-official"></a>
                    <a href="https://www.youtube.com/channel/UCkCZUIafAmqPX0ZnVO0DWdA" target="_blank" class="fa fa-youtube-play"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="flag cn"></span>中文 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/"><span class="flag gb"></span>English</a></li>
                        <li><a href="/ru"><span class="flag ru"></span>Русский</a></li>
                        <li><a href="/kr"><span class="flag kr"></span>한국어</a></li>
                        <li><a href="/jp/"><span class="flag jp"></span>日本</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>