<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin ICO: Business plan </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>Business model of the BananaCoin project development by the example of a 100 hectare plantation</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>The plantation of 100 hectares, sown with bananas of the «Finger Lady» variety, brings revenue from the sale of the crop in the amount of 4.520.000 USD for one harvest, providing that the price of 1 kg of exported organic fruit is 1 USD.
                </p>
                <p>For effective plant growth it is recommended that the distance between the holes where saplings of bananas are planted is no less than 1.82 by 1.52 meters, it gives us about 3 616 bushes per one hectare. We get 361 600 bushes for 100 hectares.</p>
                <p>Every «Finger Lady» bush gives 12.5 (twelve-point-five-tenths) kilograms of export organic crop (unsuitable fruits are cut) and if the price is 1 USD per 1 kg and there are 361 600 bushes on a plantation of 100 hectares the income from
                    their sale is 4.520.000 USD.</p>

                <h3>Investment cost for the launch of a plantation of 100 hectares</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Cost per 100 hectares in dollars</th>
                            <th>Unit</th>
                            <th>Cost per 1 hectare</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rent of land</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Ground cleaning</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Irrigation system</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Tractors and machinery</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Roads and tanks</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Electric power lines and transformers</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Ready production place</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Plants</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Warehouses and storage facilities</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Vehicles</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Labor costs during 1 year</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>
                <p>The period of full fruit ripening, starting from planting, usually takes 8 months from the moment of placing the plant in the soil. Banana is a perennial plant (up to 9 years), after harvesting the most powerful shoots from the main plant
                    are selected to form the plant for the next crop. The main trunk is cut, the weak shoots are removed. The period of fruit ripening from the second cycle is 5 months.</p>

                <h3>Calculation of the economy for the first harvest</h3>
                <p>In addition to investment expenditure every year the plantation bears the following costs.</p>

                <h3>Operating expenses for the first year</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Fertilizers</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricity</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Packing and transportation</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Costs which have been originally placed in investment expenditure are also added from the second year</p>
                <h3>Operating expenses from the second year</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Rent of land + 3% per year</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>Labor costs</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Fertilizers</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricity</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Packing and transportation</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Pay attention to this! Under the legislation of the Lao PDR, all business during the first four years is completely exempt from taxation.</p>
                <p>The profit from the first harvest will be:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>Providing that the price of 1 kg of exported organic bananas is 1 USD.</p>

                <img src="/img/price_chng.jpg">
                <br>
                <p>During the operation of our plantation in Vientiane province, the Lao PDR, we have made a graph of price fluctuations, which perfectly shows that the price has never dropped below 1.14 USD (100 yuan for a 13 kg box of bananas). </p>
                <p>As we have already mentioned, the number of Chinese plantations is declining, the deficit of bananas is growing, the price will be only increasing. In some months, the price has already reached 3.5 USD (300 yuan for a 13 kg box of bananas).
                </p>
                <p>The investment offer formed by our team is based on the price of 1 USD per 1 kg. According to our economic model, we are able to fully comply with the terms of the blockchain option in 18 months after the ICO.</p>
                <p>You can find the full business plan in the «Personal account».</p>

            </div>
        </div>

        {% include 'footer.html' %}