<!doctype html>
<html>

<head>
    <title>Bananacoin - Business Model de BananaCoin</title>
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>Business Model de BananaCoin</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>LLa plantation de 100 hectares, ensemencée avec des bananes de la variété "Finger Lady", apporte des revenus liés à la vente de la récolte à hauteur de 4.520.000 USD pour une récolte.</p>
                <p>Pour une croissance efficace, il est recommandé que la distance entre les trous où les plants de bananes sont plantés ne soit pas inférieure à 1,82 par 1,52 mètre, cela nous donne environ 3 616 plants par hectare. Nous obtenons 361 600 plants pour 100 hectares.</p>
                <p>Chaque plant "Finger Lady" donne 12,5 (douze-point-cinq dixièmes) kilogrammes de récolte biologique destinée à l'exportation (les fruits inadaptés sont retirés) et si le prix est de 1 USD pour 1 kg, il y en a 361.</p>

                <h3>Coût de lancement et investissement pour une plantation de 100 hectares</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Coût pour 100 hectares en dollars</th>
                            <th>Unité</th>
                            <th>Coût pour 1 hectare</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Location des terres</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Nettoyage des sols</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Système d'irrigation</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Tracteurs et machinerie</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Routes and tanks</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Lignes et transformateurs électriques</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Lieu de production prêt</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Plants</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Entrepôts et installations de stockage</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Véhicules</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Coûts salariaux pour 1 année</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>

                <p>La période de maturation complète des fruits, à partir de la plantation, dure en général 8 mois à partir du moment où le plant est placé dans le sol. La banane est une plante vivace (jusqu' à 9 ans), après la récolte, les pousses les plus puissantes de la plante principale sont sélectionnées pour former la plante pour la prochaine récolte. Le tronc principal est coupé, les pousses faibles sont enlevées. La période de maturation des fruits à partir du deuxième cycle est de 5 mois.</p>

                <h3>Calcul économique de la première récolte</h3>
                <p>En plus des dépenses d'investissement annuelles, la plantation fait face aux coûts suivants.</p>

                <h3>Charges d'exploitation de la première année.</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Fertilisants</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricité</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Emballage et transport</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Les coûts initialement affectés aux dépenses d'investissement sont également ajoutés à partir de la deuxième année.</p>
                <h3>Charges d'exploitation de la deuxième année</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Loyer du terrain + 3% par an</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>Coûts salariaux</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Fertilisants</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricité</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Emballage et transport</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Faites attention à cela! En vertu de la législation de la Lao PDR,  pendant les quatre premières années toutes les entreprises sont totalement exonérées d'impôts</p>
                <p>Les profits de la première récolte seront:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>En supposant que le prix de 1 kg de bananes biologiques exportées est de 1 USD.</p>

                <img src="/img/banana-chart.gif">

                <p>Lors de l'exploitation de notre plantation dans la province de Vientiane, au Laos, nous avons fait un graphique des fluctuations de prix, qui montre parfaitement que le prix n' a jamais baissé en dessous de 1,14 USD (100 yuans pour une boîte de 13 kg de bananes).</p>
                <p>Comme nous l'avons déjà mentionné, le nombre de plantations chinoises diminue, le déficit de bananes augmente, le prix ne fera qu'augmenter. Certains mois, le prix a déjà atteint 3,5 USD (300 yuans pour une boîte de bananes de 13 kg).</p>
                <p>L'offre d'investissement de notre équipe est basée sur le prix de 1 USD pour 1 kg. Selon notre modèle économique, nous sommes en mesure de respecter pleinement les termes du contrat blockchain dans les 18 mois suivant l'ICO.</p>

            </div>
        </div>
        {% include 'footer.html' %}