{% set start = '29.11.2017 15:00'|date('U') %}{# время компа #}

{% set countdown = { 
    title: 'Token sale status<br>1 token (BCO) = 0.5 USD', 
    titleStart: 'Token sale started',
    description: 'The first environmentally friendly plantation in Laos which has released a token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    starttime: '29th November 12:00 GMT — 28th February 12:00 GMT',
    text_sold: 'Tokens sold',
    text_total: 'Total tokens',
    text_of: 'of',
} %}
{% set text_tg = 'Connect with Telegram' %}

{% if lang == 'ru' %}
    {% set countdown = { 
        title: 'Статус продаж токенов<br>1 токен (BCO) = 0.5 USD', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: 'Токенов продано',
        text_total: 'Всего токенов',
        text_of: 'из',
    }%}
    {% set text_tg = 'Чат в Telegram' %}
{% endif %}
{% if lang == 'es' %}
    {% set countdown = { 
        title: 'Estado de la venta de tokens<br>1 token (BCO) = 0.5 USD', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: 'Tokens vendidos',
        text_total: 'Total de Tokens',
        text_of: 'de',
    }%}
    {% set text_tg = 'Contactenos via Telegram' %}
{% endif %}

<div class="panel countdown">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex align-items-center">
            <div class="title">{{ countdown.title }}</div>
        </div>
        <div class="col-md-6 col-sm-12 coss">
            <h4>{% if lang == 'ru' %}BCO<br> будет торговаться<br> на 
            {% elseif lang == 'es' %}BCO<br> tambien estará <br>en:
{% else %}BCO<br> will be listed<br> at{% endif %}
          
            </h4>
            <a href="http://www.coss.io" target="_blank"><img src="/img/coss.gif"></a>
        </div>
    </div>
    <div class="row status justify-content-center">
        <div class="col-md-12 col-lg-4">
            <div id="tokens_sold">?</div>
            <span>{{ countdown.text_sold }}<span>
        </div>
        <div class="col-md-12 col-lg-2">{{ countdown.text_of }}</div>
        <div class="col-md-12 col-lg-4">
            14M
            <span>{{ countdown.text_total }}<span>
        </div>
    </div>
    <div class="starttime">{{ countdown.starttime }}</div>
    <div class="row mt-4 justify-content-md-center">
        <div class="col-md-10 col-lg-7 col-xl-7">
            <div class="buttons">
               </h4> <a href="https://bananacoin.io/users/sign_up" class="btn btn-yellow">{% if lang == 'ru' %}Купить за Биткоины{% elseif lang == 'es' %}Compre con Bitcoins{% else %}Buy with Bitcoins{% endif %}</a>
                <a href="{{ lang != 'en' ? '/'~lang : '' }}/token" class="btn btn-yellow popup fancybox.ajax">{% if lang == 'ru' %}Купить за Эфириум{% elseif lang == 'es' %}Compre con Ethereum{% else %}Buy with Ethereum{% endif %}</a>
                <a href="{% if lang == 'ru' %}https://docs.google.com/document/d/1nfRPSSmEcDl2NvPrrxDzwzLimZAjOv1ousdNRfAfzGA{% elseif lang == 'es' %}https://docs.google.com/document/d/1Cd4YBrDxcAZMxsFoSVXpXEJElR0TUMLYmtDU3GqoybY/edit?ts=5a2d35b3#heading=h.ni8ejystzdom{% else %}https://docs.google.com/document/d/1NmuebOT6Jvt7lMcBIwLsO_pMlspWXETswFi9FL3zwDI{% endif %}" class="btn btn-yellow" target="_blank">{% if lang == 'ru' %}Как купить Bananacoin{% elseif lang == 'es' %}Como Comprar Bananacoin{% else %}How to buy Bananacoin{% endif %}</a>
            </div>
        </div>
        <div class="col-md-10 col-lg-5 col-xl-4"><a href="https://t.me/bananacoin{{ lang != 'ru' ? 'eng' : '' }}" target="_blank" class="btn connect-telegram">{{ text_tg }}</a></div>
    </div>
</div>
