{% set start = '29.11.2017 15:00'|date('U') %}{# время компа #}

{% set countdown = { 
    title: 'TGE finished', 
    titleStart: 'Token sale started',
    description: 'The first environmentall friendly plantation in Laos which has released a utility token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    starttime: '29th November 12:00 GMT — 28th February 12:00 GMT',
    text_sold: 'Tokens sold',
    text_total: 'Total tokens',
    text_of: 'of',
} %}
{% set text_tg = 'Connect with Telegram' %}

{% if lang == 'ru' %}
    {% set countdown = { 
        title: ' TGE завершенно', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: '29 Ноября 12:00 GMT — 28 Февраля 12:00 GMT',
        text_sold: 'Токенов продано',
        text_total: 'Всего токенов',
        text_of: 'из',
    }%}
    {% set text_tg = 'Чат в Telegram' %}
{% endif %}
{% if lang == 'es' %}
    {% set countdown = { 
        title: 'TGE finished', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: 'Tokens vendidos',
        text_total: 'Total de Tokens',
        text_of: 'de',
    }%}
    {% set text_tg = 'Contactenos via Telegram' %}
{% endif %}

{% if lang == 'turk' %}
    {% set countdown = { 
title: 'Token sale finished', 
    titleStart: 'Token sale started',
    description: countdown.description,
    starttime: '29 Kasım 15:00  - 28 Şubat 2018 15:00',
    text_sold: 'TOKEN SATILDI',
    text_total: 'TOPLAM SATILACAK TOKEN',
    text_of: '',
} %}
{% set text_tg = 'Telegram ile bağlanın' %}

{% endif %}
{% if lang == 'jp' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: 'トークンはすでに売り出しました。',
        text_total: 'トークンの総量',
        text_of: 'の',
    }%}
    {% set text_tg = 'Telegramに接続します。' %}
{% endif %}
{% if lang == 'cn' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: '代币已售出',
        text_total: '代币总数',
        text_of: '的',
    }%}
    {% set text_tg = '连接到Telegram' %}
{% endif %}
{% if lang == 'fra' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Старт продаж токенов начался',
        description: countdown.description,
        starttime: countdown.starttime,
        text_sold: 'TOKENS VENDUS',
        text_total: 'TOTAL DE TOKENS',
        text_of: 'de',
    }%}
    {% set text_tg = 'Se connecter sur Telegram' %}
{% endif %}
{% if lang == 'de' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Token sale started',
        description: countdown.description,
        starttime: '29 November 12:00 GMT — 28 Februar 12:00 GMT',
        text_sold: 'Verkaufte TOKENS',
        text_total: 'Gesamten Tokens',
        text_of: 'von',
    } %}
    {% set text_tg = 'Mit telegram verbinden' %}
{% endif %}
{% if lang == 'pt' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'BCO também será listado em',
        description: countdown.description,
        starttime: '29 de Novembro 12:00 GMT — 29 de Fevereiro 12:00 GMT',
        text_sold: 'Tokens vendidos',
        text_total: 'Total de Tokens',
        text_of: 'de',
    } %}
    {% set text_tg = 'Conecte-se com Telegram' %}
{% endif %}
{% if lang == 'ar' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Token sale started',
        description: 'The first environmentall friendly plantation in Laos which has released a utility token based on Ethereum, pegged to the export price of 1 kg of bananas.',
        starttime: '29th November 12:00 GMT — 28th February 12:00 GMT',
        text_sold: 'Tokens sold',
        text_total: 'Total tokens',
        text_of: 'of',
    } %}
    {% set text_tg = 'Connect with Telegram' %}
{% endif %}
{% if lang == 'lao' %}
    {% set countdown = { 
        title: 'Token sale finished', 
        titleStart: 'Token sale started',
        description: 'The first environmentall friendly plantation in Laos which has released a utility token based on Ethereum, pegged to the export price of 1 kg of bananas.',
        starttime: '29th November 12:00 GMT — 28th February 12:00 GMT',
        text_sold: 'Tokens sold',
        text_total: 'Total tokens',
        text_of: 'of',
    } %}
    {% set text_tg = 'Connect with Telegram' %}
{% endif %}

<div class="panel countdown">
    <div class="row">
        <div class="col-md-8 updates">
            <h4>{{ updates.title }}</h4>
            <ul>
                {% for update in updates.items %}
                <li>
                    <span class="date">{{ update.date }}</span>
                    {{ update.title }}
                    {% if update.link %}
                        <a href="{{ update.link }}" class="fa fa-link"></a>
                    {% endif %}
                </li>
                {% endfor %}
                {% if updates.items.length > 5 %}
                    <li class="updates-expland"><span>{{ updates.showmore }}</span></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4 prices">
            <h4>Market prices</h4>
            <ul>
                <li>
                    <div class="title">Banana</div>
                    <div class="price"><span>{{ price.banana }}$</span> per kg</div>
                </li>
                <li>
                    <div class="title">Mango</div>
                    <div class="price"><span>{{ price.mango }}$</span> per kg</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex align-items-center">
            <div class="title">{{ countdown.title }}</div>
        </div>
    </div>
    <div class="row status justify-content-center">
        <div class="col-md-12 col-lg-4">
            <div id="tokens_sold">?</div>
            <span>{{ countdown.text_sold }}<span>
        </div>
        <div class="col-md-12 col-lg-2">{{ countdown.text_of }}</div>
        <div class="col-md-12 col-lg-4">
            14M
            <span>{{ countdown.text_total }}<span>
        </div>
    </div>
    <div class="row mt-4 justify-content-md-center">
        <div class="col-md-10 col-lg-5 col-xl-4">
            {% if lang == 'cn' %}
            <img src="/img/qrcode_for_bananacoin_wechat.jpg" style="width: 180px">
            {% else %}
            <a href="https://t.me/bananacoin{{ lang != 'ru' ? 'eng' : '' }}" target="_blank" class="btn connect-telegram">{{ text_tg }}</a>
            {% endif %}
        </div>
    </div>
</div>
