{% set documents = { 
    title: 'Documents', 
    description: 'See our documents to learn more about the Bananacoin, the token, the team and the TGE round details.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_en.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
    { html: '<a href="/files/Light_eng.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
    { html: '<a href="/plan/" class="btn btn-outline">Business plan</a>' },
    { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">General terms and conditions</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Token Sale agreement</a>' },
    ]
} %}
{% if lang == 'ru' %}
    {% set documents = { 
        title: 'Документы', 
        description: 'Предлагаем вашему вниманию документы, которые позволят узнать больше о проекте Bananacoin, токене, команде и TGE раунде.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_ru.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
    { html: '<a href="/files/Light_eng.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
    { html: '<a href="/ru/plan/" class="btn btn-outline">Бизнес-план</a>' },
     { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Общие правила</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Договор продажи токенов Bananacoin</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'es' %}
    {% set documents = { 
        title: 'Documentos', 
        description: 'Consulte nuestros documentos para obtener más información sobre el Bananacoin, el token, el equipo y los detalles de la ronda de TGE.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_es.pdf" target="_blank" class="btn btn-outline">Libro Blanco</a>' },
    { html: '<a href="/files/Light_es.pdf" target="_blank" class="btn btn-outline">Libro Resumido</a>' },
    { html: '<a href="/'~lang~'/plan/" class="btn btn-outline">Plan de Negocios</a>' },
     { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Términos y condiciones generales</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Acuerdo de venta de tokens</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'jp' %}
    {% set documents = { 
        title: 'ファイル', 
        description: '私達のファイルをチェックして、より多いBananacoin、トークン、チームとTGE過程の詳細を了解してください。',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_jp.pdf" target="_blank" class="btn btn-outline">白書</a>' },
    { html: '<a href="/files/Light_jp.pdf" target="_blank" class="btn btn-outline">要約書</a>' },
    { html: '<a href="/'~lang~'/plan/" class="btn btn-outline">商業プロポーザル</a>' },
     { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">一般取引条件</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">トークン販売協議</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'cn' %}
    {% set documents = { 
        title: '文件', 
        description: '查看我们的文件，了解更多关于Bananacoin、代币、团队和TGE过程细节。',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_ch.pdf" target="_blank" class="btn btn-outline">白皮书</a>' },
    { html: '<a href="/files/Light_ch.pdf" target="_blank" class="btn btn-outline">摘要书</a>' },
    { html: '<a href="/'~lang~'/plan/" class="btn btn-outline">商业计划</a>' },
     { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">一般交易条件</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">代币销售协议</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'turk' %}
    {% set documents = { 
        title: 'Dökümanlar', 
        description: 'Bananacoin, ekibimiz, sanal para, ve ICO (Dijital Para Ön Arzı) süreci hakkında bilgi sahibi olabilmek adına belgelerimizi inceleyebilirsiniz.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_turk.pdf" target="_blank" class="btn btn-outline">Bilgi Raporu (White Paper)</a>' },
    { html: '<a href="/files/Light_turk.pdf" target="_blank" class="btn btn-outline">Özet Bilgi Raporu</a>' },
    { html: '<a href="/'~lang~'/plan/" class="btn btn-outline">İş Planı</a>' },
    { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Genel şartlar ve koşullar</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Token (Dijital Para) satış sözleşmesi</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'fra' %}
    {% set documents = { 
        title: 'Documents', 
        description: 'Consultez nos documents pour en savoir plus sur le Bananacoin, le token, l équipe et les détails de l TGE.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_fra.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
    { html: '<a href="/files/Light_fra.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
    { html: '<a href="/'~lang~'/plan/" class="btn btn-outline">Business plan</a>' },
     { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Termes et conditions générales</a>' },
    { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Protocole de vente de tokens</a>' },
    ]
    } %}
{% endif %}
{% if lang == 'de' %}
    {% set documents = { 
        title: 'Dokumente', 
        description: 'Sehen Sie sich unsere Dokumente an um mehr über Bananacoin, den Token, das Team und usere ICO zu erfahren',
        links: [
        { html: '<a href="/files/White_Paper_Bananacoin_en.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
        { html: '<a href="/files/Light_de.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
        { html: '<a href="/plan/" class="btn btn-outline">Business plan</a>' },
        { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Generelle Regeln und Konditionen</a>' },
        { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Token Verkauf Einigung</a>' },
        ]
    } %}
{% endif %}
{% if lang == 'ind' %}
    {% set documents = { 
        title: 'Dokumen', 
        description: 'Lihat dokumen kami untuk mempelajari lebih lanjut tentang Bananacoin, token, tim dan rincian putaran ICO.',
        links: [
        { html: '<a href="/files/White_Paper_Bananacoin_ind.pdf" target="_blank" class="btn btn-outline">Makalah Putih</a>' },
        { html: '<a href="/files/Light_ind.pdf" target="_blank" class="btn btn-outline">Makalah Berwarna</a>' },
        { html: '<a href="/plan/" class="btn btn-outline">Rencana Bisnis</a>' },
        { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Syarat dan Ketentuan Umum</a>' },
        { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Persetujuan Penjualan Token</a>' },
        ]
    } %}
{% endif %}
{% if lang == 'pt' %}
    {% set documents = { 
        title: 'Documentos', 
        description: 'Veja nossos documentos para saber mais sobre Bananacoin, o token, a equipe e os detalhes do turno ICO.',
        links: [
        { html: '<a href="/files/White_Paper_Bananacoin_pt.pdf" target="_blank" class="btn btn-outline">Makalah Putih</a>' },
        { html: '<a href="/files/Light_pt.pdf" target="_blank" class="btn btn-outline">Makalah Berwarna</a>' },
        { html: '<a href="/plan/" class="btn btn-outline">Plano de negócios</a>' },
        { html: '<a href="/files/terms_agreement.pdf" class="btn btn-outline">Termos e Condições Gerais</a>' },
        { html: '<a href="/files/sales_agreement.pdf" class="btn btn-outline">Acordo Token Sale</a>' },
        ]
    } %}
{% endif %}
<div class="documents">
    <div class="container">
        <h2>{{ documents.title }}</h2>
        <div class="row">
            <div class="col-lg-4 hidden-md-down">
                <div class="image">
                    <img src="/img/documents.svg">
                </div>
            </div>
            <div class="col-lg-8">
                <p>{{ documents.description }}</p>
                <div class="buttons">
                    {% for link in documents.links %} {{ link.html }} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>