{% set documents = { 
    title: 'Documents', 
    description: 'See our documents to learn more about the Bananacoin, the token, the team and the ICO round details.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_en.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
    { html: '<a href="/files/Light_eng.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
    { html: '<a href="/plan/" class="btn btn-outline">Business plan</a>' },
    ]
} %}
{% if lang == 'ru' %}
    {% set documents = { 
        title: 'Документы', 
        description: 'Предлагаем вашему вниманию документы, которые позволят узнать больше о проекте Bananacoin, токене, команде и TGE раунде.',
    links: [
    { html: '<a href="/files/White_Paper_Bananacoin_ru.pdf" target="_blank" class="btn btn-outline">White Paper</a>' },
    { html: '<a href="/files/Light_eng.pdf" target="_blank" class="btn btn-outline">Light Paper</a>' },
    { html: '<a href="/plan/" class="btn btn-outline">Бизнес план</a>' },
    ]
    } %} <!-- пример наследования англ варианта -->
{% endif %}
<div class="documents">
    <div class="container">
        <h2>{{ documents.title }}</h2>
        <div class="row">
            <div class="col-lg-4 hidden-md-down">
                <div class="image">
                    <img src="/img/documents.svg">
                </div>
            </div>
            <div class="col-lg-8">
                <p>{{ documents.description }}</p>
                <h4>Download on your language</h4>
                <div class="buttons">
                    {% for link in documents.links %} {{ link.html }} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>