{% set faq = { 
    title: 'Some frequently asked questions',
    description: 'We advocate full transparency, so if you don’t see your questions answered in our FAQ, please write us and we’ll get back to you.',
    text_showmore: 'Show more',
    questions: [
    { 
        title: 'What is TGE?', 
        answer: 'TGE (Token generation event) is a model of crowdfunding that allows us to issue digital tokens in exchange for investments. 
        Each token gives its owner the right to receive profit according to the declared conditions.' 
    },
    { 
        title: 'Who are you?', 
        answer: 'We are owners of the real banana plantation, and you can get acquainted with our team and developers on the main page of the site. You can also chat with us directly at the https://t.me/bananacoineng Telegram chat.' 
    },
    { 
        title: 'What is the address of the Bananacoin farm?', 
        answer: 'Ban. NAPHONG. Distric HINHEAP.pr.VIENTIANE
        <br>gps - 18.5585025 102.19301210
        <br>you can also find it on google map at: https://goo.gl/maps/542XdhqpETP2' 
    },
    { 
        title: 'How can agro-industry be tied to a blockchain ?', 
        answer: 'We do not tie the agro-industry to the blockchain, we use the capabilities of a blockchain to raise investment (crowdfunding)
        and arrange transparent payments to investors in the future.' 
    },
    { 
        title: 'Do you have a Bounty program?', 
        answer: 'Bounty is over now. More details availiable https://bitcointalk.org/index.php?topic=2164386.0.' 
    },
    { 
        title: 'Why Laos, why not Vietnam or China?', 
        answer: 'Right now, we are already engaged in farming in Laos, and we have permits from the local government and wide tax preferences. To conduct such business is much more expensive in China, whereas Vietnam has ecologically unfavourable territories on the agricultural sector (chemical pollution after the war).' 
    },
    { 
        title: 'Why bananas, why not rice or apples?', 
        answer: 'We are professionals of the banana industry, and we are make money on this right now. So now it\'s bananas. Moreover
        bananas occupy the first place in terms of consumption in the world, this is an excellent business.' 
    },
    { 
        title: 'What is the cost of one token?', 
        answer: 'The cost of the first million BCO is 0.25 US dollars per one token. The cost of one token on the main event
        is 0.5 US dollars.' 
    },
    { 
        title: 'Do you use pesticides ?', 
        answer: 'No, our plantations are completely ecological.' 
    },
    { 
        title: 'What insurance against the volatility of the crypto currency for investors? Now it is more profitable to buy bitcoins.', 
        answer: 'We conduct business in the real sector and therefore price binding will be to the market value of bananas in dollars.
        At the expense of investment prospects - the personal choice and strategy of everyone, we are ready to share
        our business model.' 
    },
    { 
        title: 'Do farmers have good working conditions?', 
        answer: 'When we started here were only villagers and rice fields. And nothing more, just like that. We conducted electricity,
        organized access to fresh water and built infrastructure. Conditions have become much better. Now we are working
        on the organization of high-speed Internet.
        <br>At the pre-session stage, we organize a lottery among investors, three of whom can personally communicate with farmers
        in Laos.' 
    },
    { 
        title: 'Total number of tokens, who issues them?', 
        answer: 'Tokens are issued once by our developers, in an amount covering an investment of $ 7,340,000. After the redemption
        process, the tokens will be publicly destroyed.' 
    },
    { 
        title: 'What is the position of the government of Laos to the TGE, what will happen if they follow the path of China.', 
        answer: 'At the moment, this issue is not regulated by the government of Laos. But even now our business is not tied to the
        whole of the crypto industry, so that in the future they will not be able to influence for us.' 
    },
    { 
        title: 'And what if the demand for bananas disappears and the price falls below $ 1?', 
        answer: 'As practice shows, the price of bananas and demand is always high, primarily due to worldwide popularity.' 
    },
    { 
        title: 'Why sell to China, and not to Europe or Japan?', 
        answer: 'China at this stage buys out all batches of bananas without a trace and it\'s a close neighbor, maybe in 3-4 years
        we will additionally enter the Japanese market.' 
    },
    { 
        title: 'In which country is the jurisdiction of the campaign?', 
        answer: 'The company and the plantations are in Laos.' 
    },
    { 
        title: 'How can I invest?', 
        answer: 'Detailed instructions are on the main page of the site, if necessary, support in the chat of telegrams can
        help you. The easiest way is to transfer the etherium to a smart contract from your personal wallet with the
        erc223 standard. The tokens return to your wallet automatically after confirmation of network.' 
    },
    { 
        title: 'Is the number of tokens limited?', 
        answer: 'Yes.' 
    },
    { 
        title: 'What if the minimum amount of investment is not achieved?', 
        answer: 'Preliminarily the minimum amount of investments will be closed by few real investors.' 
    },
    { 
        title: 'The ERC223 standard of the token, what is it?', 
        answer: 'This is the most modern standard for a token based on the Etherium network. It will support the transparency of transactions
        with investors. Important: your etherium wallet must support this standard to obtain tokens.' 
    },
    { 
        title: 'Will you conduct other TGE in the field of agro-industry?', 
        answer: 'We certainly do not plan to conduct animal breeding fees, but after the success of the BananaCoin project, we consider
        such areas as mango, avocado and coffee.' 
    },
    { 
        title: 'If the following year is poor or natural disasters will occur?', 
        answer: 'In Laos, there is no access to open waters (oceans), so natural disasters are the exception, and most of the plantations
        are on highlands and hills where there are no strong winds, but there are regular rains - therefore, good yields
        are typical for this region.' 
    },
    { 
        title: 'Why did you not find for classical investors?', 
        answer: 'In the course of the project, we have many proposals from potential investors not from the field of crypto, all participants
        of the investment will receive equal conditions.' 
    },
    { 
        title: 'How to find the cost of one token relative to Etherium or Bitcoin?', 
        answer: 'The cost is calculated automatically at the time of confirmation of the transaction by the network based on the average
        value of the price on the exchanges.' 
    },
    { 
        title: 'I want to make payment in dollars, how to do it?', 
        answer: 'For beginners in the field of crypto currencies, there is a detailed instruction on the initial page. If it is a
        large investment (from $ 100,000), the organizers are ready for a personal meeting.' 
    },
    { 
        title: 'On the main page of the site and in my personal account, various addresses of directions to the etherium, where to pay?', 
        answer: 'If you pay from a personal wallet, with the erc223 standard, you can pay directly to the address of the smart contract
        (address on the main page), the tokens return in automatic mode. If the exchange is with a stock exchange, exchanger,
        etc., then it is necessary to use a personal cabinet, tokens will be credited in it.' 
    },
    { 
        title: 'On which exchanges will the tokens be traded?', 
        answer: 'This information will be published soon.' 
    },
    { 
        title: 'How will the tokens be redeemed?', 
        answer: 'We are developing a transparent algorithm for open redemption. Previously, this will be the redemption of tokens
        from exchanges, and we also consider connecting the capabilities of our site for this purpose.' 
    },
    { 
        title: 'Are there any restrictions for participation in TGE?', 
        answer: 'No. Our token is utility token, so no restrictions.' 
    },
    { 
        title: 'I want to exchange tokens for bananas, will you send them to me?', 
        answer: 'The most profitable business model for us is the sale and transportation our products to the nearest neighbors. If
        you are in China and ready to buy large quantities - contact us. In other cases, you will have to transport yourself
        personally.' 
    },
    { 
        title: 'Why do bananas cost 1 USD in my nearest store, and do you say in your business plan that the minimum export price is 1 USD?', 
        answer: 'Bananas that are sold in stores are Cavendish and Williams, the export price of which is not more than 0.25 USD.
        The sort of bananas Finger Lady, which we grow, is the most expensive and popular in the market of China. The
        export price reaches 3.5 USD per kg.' 
    },
    { 
        title: 'Why do not you use only classical methods of attracting investments?', 
        answer: 'Good question. First, attracting private investors can lead to the consequences of Krylov\'s fable "Swan, Cancer and
        the Pike." We are professionals in our business and we know how to make a successfull banana business. Secondly,
        attracting money through the TGE does not give investors a share in business, it is a financial instrument, after
        fulfilling obligations on which the business will remain in the hands of the team. Third, the BananaCoin project
        for us is the start of a future large-scale project, we want to go through the business that we understand to
        pass the "fire of water and copper pipes" TGE in order to approach the new project in Lao PDR with the already
        successful case.' 
    },
    { 
        title: 'Are those people from the project lead on the front page actually real? Have they been verified in some way?', 
        answer: 'We are real. You can anytime come to our plantation in Laos, we are making a lottery between pre sale investors -
        random from pre sale guys will come to our plantation and check that we are real!' 
    },
    { 
        title: 'How you current plantation works? Who owns land? Who works on plantation?', 
        answer: 'Our company rents the land for plantation from local peasants and they also work on that plot getting paid salary
        for that.' 
    },
    { 
        title: 'I still have questions …', 
        answer: 'The best way to learn about the project is to contact us directly. A list of all means of communication is at the
        bottom of each page of the site.' 
    },
    ]
} %}
{% if lang == 'ru' %}
    {% set faq = { 
        title: 'Часто задаваемые вопросы',
        description: 'Мы поддерживаем прозрачность взаимоотношений между держателями токенов и проектом Bananacoin. Если у Вас есть какие-то вопросы, то мы обязательно на них ответим.',
        text_showmore: 'Смотреть ещё',
        questions: [
    { 
        title: 'Что такое TGE?', 
        answer: 'TGE (Первичная генерация токенов) - это модель краудфандинга, которая позволяет нам выпускать цифровые токены в обмен на инвестиции. Каждый токен дает право его владельцу на получение прибыли по объявленным условиям.' 
    },
    { 
        title: 'Кто Вы такие?', 
        answer: 'Мы владельцы существующей банановой плантации, ознакомиться с нашей командой и разработчиками можно на главной странице сайта bananacoin.io, а также пообщаться лично в телеграмм чате https://t.me/bananacoin.' 
    },
    { 
        title: 'Какой адрес существующей плантации?', 
        answer: 'Ban. NAPHONG. Distric HINHEAP.pr.VIENTIANE
        <br>gps - 18.5585025 102.19301210
        <br>Также на картах Google: https://goo.gl/maps/542XdhqpETP2' 
    },
    { 
        title: 'Как агроиндустрия может быть привязана к блокчейну?', 
        answer: 'Мы не привязываем агроиндустрию к блокчейну, мы используем возможности блокчейна для сбора инвестиций (краудфандинга) и организации прозрачных выплат инвесторам в дальнейшем.' 
    },
    { 
        title: 'Есть ли у Вас программа Баунти?', 
        answer: 'Да, программа поощрения существовала, но уже закончилась. Более детально можно посмотреть - https://bitcointalk.org/index.php?topic=2164386.0' 
    },
    { 
        title: 'Почему Лаос, почему не Вьетнам или не Китай?', 
        answer: 'Прямо сейчас мы уже занимаемся фермерством в Лаосе, у нас есть разрешения от местных властей, а также широкие налоговые преференции. В Китае вести такой бизнес на порядок дороже, Въетнам же относится к экологически неблагоприятным территориям по агросектору (химическое загрязнение после войны).' 
    },
    { 
        title: 'Почему именно бананы, почему не рис или яблоки?', 
        answer: 'Мы являемся профессионалами именно банановой отрасли, и уже умеем делать на этом деньги. Поэтому сейчас это именно бананы. К тому же бананы занимают первое место по количеству потребления в мире, это отличный бизнес.' 
    },
    { 
        title: 'Какова стоимость одного токена?', 
        answer: 'Стоимость первого миллиона BCO составляет 0.25 долларов США за один токен. Стоимость одного токена на основном сборе - 0.5 доллара США.' 
    },
    { 
        title: 'Используете ли вы пестициды?', 
        answer: 'Нет, наши плантации полностью экологичны.' 
    },
    { 
        title: 'Какие страховки от волатильности криптовалюты у инвесторов ? Сейчас перспективнее купить биткоины.', 
        answer: 'Мы ведем бизнес в сфере реального сектора и поэтому привязка будет к рыночной стоимости бананов в долларах. На счет перспектив инвестирования – личный выбор и стратегия каждого, мы готовы делиться своей бизнес-моделью.' 
    },
    { 
        title: 'Имеют ли фермеры достойные условия труда?', 
        answer: 'Когда мы начинали здесь были только селяне и рисовые поля. И более ничего, буквально. Мы провели электричество, организовали доступ к пресной воде и построили инфраструктуру. Условия стали значительно лучше. Сейчас мы работаем над организацией скоростного интернета.' 
    },
    { 
        title: 'Общее количество токенов, кто их выпускает?', 
        answer: 'Токены выпускаются однократно нашими разработчиками, в количестве покрывающие инвестиции в 7.000.000 долларов США. После процесса обратного выкупа токены будут публично уничтожаться.' 
    },
    { 
        title: 'Какая позиция у правительства Лаоса к TGE, что будет если там пойдут по пути Китая?', 
        answer: 'На данный момент вопрос не регламентируется правительством Лаоса. Но даже сейчас наш бизнес не завязан на криптоиндустрии в целом, поэтому повлиять на нас в будущем некие поставновления не смогут.' 
    },
    { 
        title: 'А что если спрос на бананы пропадёт и цена упадет ниже 1го доллара?', 
        answer: 'Как показывает практика цена на бананы и спрос всегда высокие, в первую очередь благодаря повсеместной популярности.' 
    },
    { 
        title: 'Почему продаете в Китай, а не в Европу или Японию?', 
        answer: 'Китай на данном этапе выкупает все партии бананов без остатка и это близкий сосед, возможно через 3-4 года мы дополнительно зайдем на рынок Японии.' 
    },
    { 
        title: 'В какой стране юрисдикция кампании?', 
        answer: 'Компания и плантации находятся в Лаосе.' 
    },
    { 
        title: 'Как я могу инвестировать?', 
        answer: 'Подробная инструкция – на основной странице сайта, в случае необходимости вам может помочь поддержка в чате телеграмм. Самый простой способ - перевод эфириума на смарт контракт со своего персонального кошелька со стандартом erc223. Токены вернуться на ваш кошелек автоматически после подтверждения сети.' 
    },
    { 
        title: 'Ограничено ли количество токенов?', 
        answer: 'Да.' 
    },
    { 
        title: 'Стандарт токена erc223, что это?', 
        answer: 'Это самый современный стандарт токена на базе сети Эфириум. Он будет поддерживать прозрачность операций с инвесторами. Важно: ваш кошелек эфириум должен поддерживать данный стандарт для получения токенов.' 
    },
    { 
        title: 'Будете ли проводить другие TGE в области агроиндустрии?', 
        answer: 'Мы точно не планируем проводить сборы для сектора животноводства, но после успеха проекта Bananacoin будем рассматривать такие направления как манго, авокадо и кофе.' 
    },
    { 
        title: 'Если следующий год будет неурожайным или пройдут стихийные бедствия?', 
        answer: 'В Лаосе нет доступа к открытым водам (океанам), поэтому стихийные бедствия маловероятны, также большинство плантаций находятся на возвышенностях и холмах, где нет сильных ветров, но бывают регулярные дожди – поэтому для данного региона типична хорошая урожайность.' 
    },
    { 
        title: 'Почему вы не искали классических инвесторов?', 
        answer: 'В ходе проекта у нас появилось много потенциальных инвесторов не из области криптомира, все участники инвестиций получат равные условия.' 
    },
    { 
        title: 'Как узнать стоимость одного токена по отношению к Эфириуму и Биткоину?', 
        answer: 'Стоимость рассчитывается автоматически на момент подтверждения транзакции сетью по усредненному значения цены на биржах.' 
    },
    { 
        title: 'Я хочу внести оплату в долларах, как это сделать?', 
        answer: 'Для новичков в области крипто валют есть подробная инструкция на начальной странице. Если это крупная инвестиции (от 100.000 $) организаторы готовы к живой встрече.' 
    },
    { 
        title: 'На главной странице сайта и в личном кабинете разные адреса кошелька эфириум, куда платить?', 
        answer: 'Если вы оплачиваете с персонального кошелька, со стандартом erc223, то можете оплачивать непосредственно на адрес смарт контракта (адрес на главной странице), токены вернуться в автоматическом режиме. Если обмен идет с биржи, обменника и пр., то необходимо использовать персональный кабинет, токены будут начисляться в нем.' 
    },
    { 
        title: 'На каких биржах будут торговаться токены?', 
        answer: 'Мы анонсируем биржи во время главного события.' 
    },
    { 
        title: 'Как будут выкупаться токены?', 
        answer: 'Мы разрабатываем прозрачный алгоритм открытого выкупа. Предварительно это будет выкуп токенов с бирж, также рассматриваем подключения возможностей нашего сайта для этой цели.' 
    },
    { 
        title: 'Есть ли ограничения для участия в TGE?', 
        answer: 'У нас нет ограничений по участию в проекте.' 
    },
    { 
        title: 'Почему у меня в магазине в России бананы стоят 1 USD, а вы в своем бизнес плане говорите, что минимальная экспортная цена 1 USD?', 
        answer: 'Бананы, что продают в российских магазинах, являются сортом Cavendish и Williams, экспортная цена которых не больше 0,25 USD. Сорт бананов Finger Lady, который мы выращиваем, является самым дорогим и востребованным на рынке Китая. Экспортная цена достигает 3,5 USD за кг.' 
    },
    { 
        title: 'Почему вы не используете классические методы привлечения инвестиций? Такие как банковский кредит или частный инвестор?', 
        answer: 'Хороший вопрос. Во-первых, привлечение частных инвесторов может привести к последствиям из басни "Лебедь Рак и Щука". Мы профессионалы своего дела и знаем как сделать банановый бизнес успешным. Во-вторых, привлечение денег через TGE не дает инвесторам доли в бизнесе, это финансовый инструмент, после выполнения обязательств по которому бизнес останется в руках команды. В третьих, проект BananaCoin для нас это старт будущего масштабного проекта, мы хотим через бизнес который мы понимаем, пройти "огонь воду и медные трубы" TGE, чтобы уже с существующим успешным кейсом подойти к новому проекту в Лаосской НДР.' 
    },
    { 
        title: 'У меня остались вопросы …', 
        answer: 'Лучший способ узнать о проекте - связаться с нами напрямую. Список всех средств связи находится внизу каждой страницы сайта.' 
    },
    ]
    } %} 
{% endif %}


<div class="faq{{ not limit ? ' nobg' }}">
    <div class="container">
        <h2>{{ faq.title }}</h2>
        <p>{{ faq.description }}</p>
        <div class="questions">
            {% for q in faq.questions %}
                {% if not limit or limit > loop.index %}
                <div class="question{{ loop.index == 1 ? ' active' }}">
                    <div class="q">{{ q.title }}<div class="plus"></div></div>
                    <div class="answer">{{ q.answer }}</div>
                </div>
                {% endif %}
            {% endfor %}
            {% if limit %}
            <div class="row justify-content-center m-5">
                <a href="{{ lang != 'en' ? '/'~lang : '' }}/faq/" class="btn btn-black btn-icon icon-plus">{{ faq.text_showmore }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>