{% set intro = { 
    title: 'Bananacoin', 
    status: 'The first environmentally friendly plantation in Laos which has released a utility token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    description: 'Our mission is to grow organic and healthy variety of bananas known as "Lady Finger" in our plantations in Laos and to export them to China where demand is greater than supply.',
    buttons: [
        '<a href="/files/Utility_token_eng.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Legal nature of token</a>',
        '<a href="/files/White_Paper_Bananacoin_en.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Download White Paper</a>',
    ]
} %}

{% if lang == 'ru' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'Bananacoin - это utility токен на блокчейне Ethereum, привязанный к экспортной цене одного килограмма бананов.',
        description: 'Наша цель - выращивать органический и полезный сорт бананов Lady Finger на плантации в Лаосе и экспортировать в Китай, где спрос на этот сорт превышает предложение.',
        buttons: [
        '<a href="/files/Utility_token_rus.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Природа токена</a>',
        '<a href="/files/White_Paper_Bananacoin_ru.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Скачать White Paper</a>',
    ]
} %}
{% endif %}
{% if lang == 'turk' %}
    {% set intro = { 
        title: 'Bananacoin', 
    status: 'Laosun ilk çevre dostu plantasyonu, 1kg muzun ihracat fiyatına denk gelen, Ethereum tabanlı kripto parayı ortaya çıkardı.',
    description: 'Misyonumuz, Laosda bulunan ekim arazilermizde Lady Finger olarak bilinen organik ve sağlıklı muz türünü yetiştirmek ve bunları arza kıyasla çok daha fazla talebin olduğu Çine ihraç etmektir.',
    buttons: [
        '<a href="/files/Utility_token_tr.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Dijital Paranın Hukuki Niteliği</a>',
        '<a href="/files/White_Paper_Bananacoin_tr.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Bilgi Raporunu (Whitepaper) İndir</a>',
    ]
} %}
{% endif %}
{% if lang == 'es' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'Bananacoin - Es la primera plantación ecológica en Laos ha lanzado un token de utilidad en Ethereum, basado en el  precio de exportación de 1 kg de bananas.',
        description: 'Nuestra misión es cultivar una variedad orgánica y saludable de bananas conocidas como "Lady Finger" en nuestras plantaciones en Laos y exportarlas a China donde la demanda es mayor que la oferta.',
        buttons: [
        '<a href="/files/Utility_token_es.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Naturaleza legal del token</a>',
        '<a href="/files/White_Paper_Bananacoin_es.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Bajese el Libro Blanco</a>',
    ]
} %}
{% endif %}
{% if lang == 'jp' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'ラオス初の環境保全型プランテーションはすでにEthereumで実用トークンを発行しました。1キログラムのバナナの輸出価格と関連付けています。',
        description: '私達のミッションはラオスのプランテーションで「Lady Finger」と言われた健康な有機バナナ品種を栽培し、またそれを需要量のより大きな中国に輸出することであります。',
        buttons: [
        '<a href="/files/Utility_token_eng.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">トークンの法律性質</a>',
        '<a href="/files/White_Paper_Bananacoin_jp.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">白書をダウンロードします。</a>',
    ]
} %}
{% endif %}
{% if lang == 'cn' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: '老挝首个环保种植园已经在Ethereum发行了实用代币，与1公斤香蕉的出口价格挂钩。',
        description: '我们的使命是在老挝的种植园里种植被称为“Lady Finger”的有机健康的香蕉品种，并将其出口到需求量更大的中国',
        buttons: [
        '<a href="/files/Utility_token_ch.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">代币的法律性质</a>',
        '<a href="/files/White_Paper_Bananacoin_ch.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">下载白皮书</a>',
    ]
} %}
{% endif %}
{% if lang == 'fra' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'La première plantation respectueuse de l environnement au Laos a lancé un token basé sur Ethereum, corrélé au prix à l exportation d un 1 kg de bananes.',
        description: 'Notre mission est de cultiver des variétés de bananes biologiques et saines et connues sous le nom de "Lady Finger" au sein de nos plantations au Laos et de les exporter en Chine où la demande est plus grande que l offre',
        buttons: [
        '<a href="/files/Utility_token_fra.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Caractère juridique du token</a>',
        '<a href="/files/White_Paper_Bananacoin_fra.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Téléchargez le WhitePaper</a>',
    ]
} %}
{% endif %}
{% if lang == 'de' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'Die erste umweltfreundliche Plantage in Laos mit einem Ether Token, dessen Preis an 1kg Bananen gebunden ist',
        description: 'Wir wollen biologische Bananen der Sorte "Lady Finger" anbauen um diese nach China zu exportieren wo die Nachfrage größer ist als das Angebot',
        buttons: [
            '<a href="/files/Utility_token_de.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Legalität des Tokens</a>',
            '<a href="/files/White_Paper_Bananacoin_en.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Den Businessplan herunterladen</a>',
        ]
    } %}
{% endif %}
{% if lang == 'ind' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'Perkebunan ramah lingkungan pertama di Laos yang telah merilis token utilitas berbasis pada Ethereum, dipatok berdasarkan harga ekspor 1 kg pisang',
        description: 'Misi kami adalah menanam pisang organik dan sehat yang dikenal sebagai Jari Wanita "perkebunan kami di Laos dan untuk mengekspornya ke China di mana permintaan lebih tinggi daripada pasokan"',
        buttons: [
            '<a href="/files/Utility_token_ind.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Sifat Hukum Token</a>',
            '<a href="/files/White_Paper_Bananacoin_ind.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-white">Unduh Makalah Putih</a>',
        ]
    } %}
{% endif %}

<div class="intro">
    <div class="container">
        {% include 'countdown.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 description">
                <h1>{{ intro.title }}</h1>
                <p>{{ intro.status }}</p>
                <p>{{ intro.description }}</p>
                <div class="buttons">
                    {% for button in intro.buttons %}
                    {{ button }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 hidden-md-down bush">
                <img src="/img/bush.png">
            </div>
        </div>
    </div>
</div>