{% set intro = { 
    title: 'Bananacoin', 
    status: 'The first environmentally friendly plantation in Laos which has released a utility token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    description: 'Our mission is to grow organic and healthy variety of bananas known as "Lady Finger" in our plantations in Laos and to export them to China where demand is greater than supply.',
    buttons: [
        '<a href="/files/Utility_token_eng.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-yellow">Legal nature of token</a>',
        '<a href="/files/White_Paper_Bananacoin_en.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-yellow">Download White Paper</a>',
    ]
} %}

{% if lang == 'ru' %}
    {% set intro = { 
        title: 'Bananacoin', 
        status: 'Bananacoin - это utility токен на блокчейне Ethereum, привязанный к экспортной цене 1-го килограмма бананов.',
        description: 'Наша цель - выращивать органический и полезный сорт бананов "Lady Finger" на плантации в Лаосе и экспортировать в Китай, где спрос на этот сорт превышает предложение.',
        buttons: [
        '<a href="/files/Utility_token_rus.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-yellow">Природа токена</a>',
        '<a href="/files/White_Paper_Bananacoin_ru.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-yellow">Скачать White Paper</a>',
    ]
} %}
{% endif %}

<div class="intro">
    <div class="container">
        {% include 'countdown.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ intro.title }}</h1>
                <p>{{ intro.status }}</p>
                <p>{{ intro.description }}</p>
                <div class="buttons">
                    {% for button in intro.buttons %}
                    {{ button }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 hidden-md-down bush">
                <img src="/img/bush.png">
            </div>
        </div>
    </div>
</div>