{% set plantation = { 
    title: 'Eco plantation', 
    status: 'First eco token pre-sale was successful. <br><b id="contributed">?</b> tokens been sold.',
    description: 'The first environmentally friendly plantation in Laos which has released a token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    buttons: [
        '<a href="https://goo.gl/forms/pKCYyOURcMkxzcQJ3" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn btn-active">Join private sale</a>',
        '<a href="/files/Bananacoin_Eng_wp_1.4.pdf" onclick="sendEvent(\'ViewContent\')" target="_blank" class="btn">Download White Paper</a>',
        '<a href="/plan/" class="btn">Business plan</a>',
    ]
} %}

{% if lang == 'ru' %}
    {% set plantation = { 
        title: 'Эко плантация', 
        status: 'Запуск первого органического токена был успешным. <b id="contributed">?</b> токенов было продано во время Pre-sale.',
        description: 'Bananacoin - это токен на блокчейне Ethereum, привязанная к экспортной цене 1-го килограмма бананов.',
        buttons: plantation.buttons 
    } %}
{% endif %}

<div class="plantation">
    <div class="container">
        <div class="row">
            <h2>{{ plantation.title }}</h2>
        </div>
        <div class="row">
            <div class="slider">
             <div class="slide">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/wOgn7KnR4p0/hqdefault.jpg">
                        <a href="https://www.youtube.com/embed/wOgn7KnR4p0?autoplay=1" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        Oleg lives in Vietnam for over 10 years now and investing in real estate and exporting fruits. He spent 50 USD to Bananacoin and his wife 500 USD, but he was luckier. He won trip to Bananacoin plantation. Listen to his words said during trip to Vientiane, Lao PDR.
                    </div>
                </div>
                <div class="slide">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/SYd4m6IRfCM/hqdefault.jpg">
                        <a href="https://www.youtube.com/embed/SYd4m6IRfCM?autoplay=1" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        At present the authorities of northern Lao Bokeo province have suspended the activities of 18 Chinese supported banana plantations after that they discovered violations of the rules of the use of agricultural chemicals.
                    </div>
                </div>
                <div class="slide">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/zsingDPrHZY/hqdefault.jpg">
                        <a href="https://www.youtube.com/embed/zsingDPrHZY?autoplay=1" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        Early bird for Bananacoin from Japan came to check experience of the team.
                    </div>
                </div>
                <div class="slide">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/dT6dMY-7NlU/hqdefault.jpg">
                        <a href="https://www.youtube.com/embed/dT6dMY-7NlU?autoplay=1" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        We use guano or manure of bats which is organic, eco-friendly and well-balanced fertilizer. It supports and greatly accelerates the formation of new roots, enriches plants during the flowering period and increases their resistance to bacteria. It improves the quality and taste of bananas.                            
                    </div>
                </div>
                <div class="slide">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/tzoRWZAX-CA/hqdefault.jpg">
                        <a href="https://www.youtube.com/embed/tzoRWZAX-CA?autoplay=1" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        Shooting of a new plot of 360 hectares
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon1.png"></div>
                        <p class="title">No pesticides</p>
                        <p>We are not use pesticides in production. The production cycle is  complied in full with the Laos Regulations for the Use of Agricultural Chemicals.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon2.svg"></div>
                        <p class="title">Eco-friendly</p>
                        <p>We are planning to create an «organic farm» — banana plantation which is isolated from other farms, for protect ecological environment.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon3.svg"></div>
                        <p class="title">3 year old</p>
                        <p>We doing business in LAOs for 15 years. For the last 3 years we started the agro-industrial business, namely the cultivation and export of bananas. Next step is business expansion. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon4.svg"></div>
                        <p class="title">Profitable business</p>
                        <p>We started with the lease of the plantation. It is profitable business. Last year we has bought it. Next step is business expansion. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon5.png"></div>
                        <p class="title">Government support</p>
                        <p>We have strong connections with the governor of Vientiane province where our plantations are located. He speak highly of the plantation.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon6.svg"></div>
                        <p class="title">Real proof asset</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
        </div>
    </div>
    {% if fullView %}<!-- описание внутри страницы -->
    {% endif %}
</div>