{% set plantation = { 
    title: 'Eco plantation', 
    status: 'First eco token pre-sale was successful. <br><b id="contributed">?</b> tokens been sold.',
    description: 'The first environmentally friendly plantation in Laos which has released a token based on Ethereum, pegged to the export price of 1 kg of bananas.',
    videos: [
        {
            image: 'https://img.youtube.com/vi/wOgn7KnR4p0/hqdefault.jpg',
            href: 'https://www.youtube.com/embed/wOgn7KnR4p0?autoplay=1',
            description: 'Oleg lives in Vietnam for over 10 years now and investing in real estate and exporting fruits. He spent 50 USD to Bananacoin and his wife 500 USD, but he was luckier. He won trip to Bananacoin plantation. Listen to his words said during trip to Vientiane, Laos.'
        },
        {
            image: 'https://img.youtube.com/vi/zsingDPrHZY/hqdefault.jpg',
            href: 'https://www.youtube.com/embed/zsingDPrHZY?autoplay=1',
            description: 'Early bird for Bananacoin from Japan came to check experience of the team.'
        },
        {
            image: 'https://img.youtube.com/vi/SYd4m6IRfCM/hqdefault.jpg',
            href: 'https://www.youtube.com/embed/SYd4m6IRfCM?autoplay=1',
            description: 'Recently the authorities of northern Lao Bokeo province have suspended the activities of 18 Chinese supported banana plantations after they had discovered violations of the rules of the use of agricultural chemicals.'
        },
        {
            image: 'https://img.youtube.com/vi/dT6dMY-7NlU/hqdefault.jpg',
            href: 'https://www.youtube.com/embed/dT6dMY-7NlU?autoplay=1',
            description: 'Legal information'
        },
        {
            image: 'https://img.youtube.com/vi/tzoRWZAX-CA/hqdefault.jpg',
            href: 'https://www.youtube.com/embed/tzoRWZAX-CA?autoplay=1',
            description: 'Shooting of a new plot of 360 hectares'
        }
    ]
} %}

{% if lang == 'ru' %}
    {% set plantation = { 
        title: 'Эко плантация', 
        status: 'Запуск первого органического токена был успешным. <b id="contributed">?</b> токенов было продано во время Pre-sale.',
        description: 'Bananacoin - это токен на блокчейне Ethereum, привязанная к экспортной цене 1-го килограмма бананов.',
        videos: [
            {
                image: plantation.videos[0].image,
                href: plantation.videos[0].href,
                description: 'Recently the authorities of northern Lao Bokeo province have suspended the activities of 18 Chinese supported banana plantations after that they discovered violations of the rules of the use of agricultural chemicals.'                
            },
            {
                image: plantation.videos[1].image,
                href: plantation.videos[1].href,
                description: 'Legal information'                
            },
            {
                image: plantation.videos[2].image,
                href: plantation.videos[2].href,
                description: 'Shooting of a new plot of 360 hectares'                
            }
        ]
    } %}
{% endif %}

<div class="plantation">
    <div class="container">
        <div class="row">
            <h2>{{ plantation.title }}</h2>
        </div>
        <div class="row slider-videos">
            <div class="slider">
                {% for video in plantation.videos %}
                <div class="slide">
                    <div class="image">
                        <img src="{{ video.image }}">
                        <a href="{{ video.href }}" class="play fancybox" data-fancybox-type="iframe"></a>
                    </div>
                    <div class="description">
                        {{ video.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row info-items">
            {% if lang == 'ru' %}
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon1.png"></div>
                        <p class="title">No pesticides</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon2.svg"></div>
                        <p class="title">Eco-friendly</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon3.svg"></div>
                        <p class="title">3 year old</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon4.svg"></div>
                        <p class="title">Profitable business</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon5.png"></div>
                        <p class="title">Government support</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon6.svg"></div>
                        <p class="title">Real proof asset</p>
                        <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life.</p>
                    </div>
                </div>
            {% else %}{# english и остальные #}
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon1.png"></div>
                        <p class="title">No pesticides</p>
                        <p>We are not use pesticides in production. The production cycle is  complied in full with the Laos Regulations for the Use of Agricultural Chemicals.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon2.svg"></div>
                        <p class="title">Eco-friendly</p>
                        <p>We are planning to create an «organic farm» — banana plantation which is isolated from other farms, for protect ecological environment.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-green"><img src="/img/plantation_icon3.svg"></div>
                        <p class="title">3 year old</p>
                        <p>We doing business in LAOs for 15 years. For the last 3 years we started the agro-industrial business, namely the cultivation and export of bananas. Next step is business expansion. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon4.svg"></div>
                        <p class="title">Profitable business</p>
                        <p>We started with the lease of the plantation. It is profitable business. Last year we has bought it. Next step is business expansion. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon5.png"></div>
                        <p class="title">Government support</p>
                        <p>We have strong connections with the governor of Vientiane province where our plantations are located. He speak highly of the plantation.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon icon-yellow"><img src="/img/plantation_icon6.svg"></div>
                        <p class="title">Real proof asset</p>
                        <p>Banana plantation is a real proof asset with blockchain inside. Its new technology of the agricultural sector.</p>
                    </div>
                </div>
            {% endif  %}
        </div>
    </div>
    {% if fullView %}<!-- описание внутри страницы -->
    {% endif %}
</div>