{% set roadmap = { 
    title: 'Roadmap', 
    steps: [
        { completed: true, title: 'March 2015', description: 'Cooperation with Chinese specialists on a leased plantation on a leased plantation' },
        { completed: true, title: 'June 2016', description: 'Getting started in&nbsp;our own&nbsp;plantation' },
        { completed: true, title: 'December 2016', description: 'First harvest' },
        { completed: true, title: 'September 2017', description: '<b>1st stage</b><br> Pre-Sale' },
        { completed: false, title: 'October — 29 November 2017', description: '<b>2nd stage</b><br>Private sale' },
        { completed: false, title: '29 November — 30 February 2018', description: '<b>3rd stage</b><br>TGE' },
        { completed: false, title: 'December 2017 — March 2018', description: '<b>4rd stage</b><br>Ground preparation' },
        { completed: false, title: 'April — December 2018', description: '<b>5th stage</b><br>Growing bananas on a new plantation' },
        { completed: false, title: 'December 2018', description: '<b>6th stage</b><br>Token' },
    ]
} %}
{% if lang == 'ru' %}
    {% set roadmap = { 
        title: 'Дорожная карта', 
        steps: [
        { completed: true, title: 'Март 2015', description: 'Работа на арендованной плантации с китайскими специалистами' },
        { completed: true, title: 'Июнь 2016', description: 'Начало самостоятельной работы' },
        { completed: true, title: 'Декабрь 2016', description: 'Первый урожай' },
        { completed: true, title: 'Сентябрь 2017', description: '<b>1-ый этап</b><br> Pre-Sale' },
        { completed: false, title: 'Октябрь — 29 Ноября 2017', description: '<b>2-ой этап</b><br>Private sale' },
        { completed: false, title: '29 Ноября — 30 Февраля 2018', description: '<b>3-ий этап</b><br>TGE' },
        { completed: false, title: 'Декабрь 2017 — Март 2018', description: '<b>4-ый этап</b><br>Подготовка земли' },
        { completed: false, title: 'Апрель — Декабрь 2018', description: '<b>5-ый этап</b><br>Выращивание бананов на плантации' },
        { completed: false, title: 'Декабрь 2018', description: '<b>6-ой этап</b><br>Токен' },
    ]
    } %} 
{% endif %}
{% if lang == 'es' %}
    {% set roadmap = { 
        title: 'Hoja de Ruta', 
        steps: [
        { completed: true, title: 'Marzo del 2015', description: 'Convenio de Cooperación con especialistas chinos en una plantación arrendada. Alquilamos una plantación' },
        { completed: true, title: 'Junio del 2016', description: 'Comenzamos nuestra propia plantación' },
        { completed: true, title: 'Dicimbre del 216', description: 'Primera cosecha' },
        { completed: true, title: 'Septiembre del 2017', description: '<b>1ra etapa</b><br> Pre-Venta' },
        { completed: false, title: 'Octubre a Noviembre del 2017', description: '<b>2da etapa</b><br>Venta Privada de tokens' },
        { completed: false, title: '29 de Noviembre al 30 de Febrero del 2018', description: '<b>3ra etapa</b><br>TGE' },
        { completed: false, title: 'Desde Diciembre del 2017 hasta Marzo del 2018', description: '<b>4ta etapa</b><br>Preparación del suelo' },
        { completed: false, title: 'Desde Abril hasta Diciembre del 2018', description: '<b>5ta etapa</b><br>Cultivo de platanos en una nueva plantación' },
        { completed: false, title: 'Diciembre del 2018', description: '<b>6ta etapa</b><br>Token' },
    ]
    } %} 
{% endif %}
<div class="roadmap">
    <h2>{{ roadmap.title }}</h2>
    <ul>
        {% for step in roadmap.steps %}
        <li{{ step.completed ? ' class="completed"' : '' }}>
            <h4>{{ step.title }}</h4>
            <p>{{ step.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>