{% set roadmap = { 
    title: 'Roadmap', 
    steps: [
        { completed: true, title: 'March 2015', description: 'Cooperation with Chinese specialists on a leased plantation' },
        { completed: true, title: 'June 2016', description: 'Getting started!' },
        { completed: true, title: 'December 2016', description: 'First harvest' },
        { completed: true, title: 'September 2017', description: '<b>1st stage</b><br> Pre-Sale' },
        { completed: true, title: 'October — 29 November 2017', description: '<b>2nd stage</b><br>Private sale' },
        { completed: true, title: '29 November — 28 February 2018', description: '<b>3rd stage</b><br>TGE' },
        { completed: false, title: 'December 2017 — March 2018', description: '<b>4rd stage</b><br>Ground preparation' },
        { completed: false, title: 'April — December 2018', description: '<b>5th stage</b><br>Growing bananas on a new plantation' },
        { completed: false, title: 'December 2018', description: '<b>6th stage</b><br>Token' },
    ]
} %}
{% if lang == 'turk' %}
    {% set roadmap = { 
       title: 'Yol Haritamız', 
    steps: [
        { completed: true, title: 'Mart 2015', description: 'Çinli uzmanlar ile kiralık plantasyon konusunda işbirliği' },
        { completed: true, title: 'Haziran 2016', description: 'Kendi plantasyonumuzu kurmak' },
        { completed: true, title: 'Aralık 2016', description: 'İlk Hasat' },
        { completed: true, title: 'Eylül 2017', description: '<b>Aşama 1</b><br> Ön Satış' },
        { completed: true, title: 'Ekim - 29 Kasım 2017', description: '<b>Aşama 2</b><br>Özel Satış' },
        { completed: true, title: '29 Kasım - 30 Şubat 2018', description: '<b>Aşama 3</b><br>TGE' },
        { completed: false, title: 'Aralık 2017 - Mart 2018', description: '<b>Aşama 4</b><br>Alanın Hazırlanışı' },
        { completed: false, title: 'Nisan - Aralık 2018', description: '<b>Aşama 5</b><br>Yeni bir plantasyonda muz üretimi' },
        { completed: false, title: 'Aralık 2018', description: '<b>Aşama 6</b><br>Token (Dijital Para)' },
    ]
    } %} 
{% endif %}
{% if lang == 'ru' %}
    {% set roadmap = { 
        title: 'Дорожная карта', 
        steps: [
        { completed: true, title: 'Март 2015', description: 'Работа на арендованной плантации с китайскими специалистами' },
        { completed: true, title: 'Июнь 2016', description: 'Начало самостоятельной работы' },
        { completed: true, title: 'Декабрь 2016', description: 'Первый урожай' },
        { completed: true, title: 'Сентябрь 2017', description: '<b>1-ый этап</b><br> Pre-Sale' },
        { completed: true, title: 'Октябрь — 29 Ноября 2017', description: '<b>2-ой этап</b><br>Private sale' },
        { completed: true, title: '29 Ноября — 28 Февраля 2018', description: '<b>3-ий этап</b><br>TGE' },
        { completed: false, title: 'Декабрь 2017 — Март 2018', description: '<b>4-ый этап</b><br>Подготовка земли' },
        { completed: false, title: 'Апрель — Декабрь 2018', description: '<b>5-ый этап</b><br>Выращивание бананов на плантации' },
        { completed: false, title: 'Декабрь 2018', description: '<b>6-ой этап</b><br>Токен' },
    ]
    } %} 
{% endif %}
{% if lang == 'es' %}
    {% set roadmap = { 
        title: 'Hoja de Ruta', 
        steps: [
        { completed: true, title: 'Marzo del 2015', description: 'Convenio de Cooperación con especialistas chinos en una plantación arrendada. Alquilamos una plantación' },
        { completed: true, title: 'Junio del 2016', description: 'Comenzamos nuestra propia plantación' },
        { completed: true, title: 'Dicimbre del 2016', description: 'Primera cosecha' },
        { completed: true, title: 'Septiembre del 2017', description: '<b>1ra etapa</b><br> Pre-Venta' },
        { completed: true, title: 'Octubre a Noviembre del 2017', description: '<b>2da etapa</b><br>Venta Privada de tokens' },
        { completed: true, title: '29 de Noviembre al 28 de Febrero del 2018', description: '<b>3ra etapa</b><br>TGE' },
        { completed: false, title: 'Desde Diciembre del 2017 hasta Marzo del 2018', description: '<b>4ta etapa</b><br>Preparación del suelo' },
        { completed: false, title: 'Desde Abril hasta Diciembre del 2018', description: '<b>5ta etapa</b><br>Cultivo de platanos en una nueva plantación' },
        { completed: false, title: 'Diciembre del 2018', description: '<b>6ta etapa</b><br>Token' },
    ]
    } %} 
{% endif %}
{% if lang == 'jp' %}
    {% set roadmap = { 
        title: 'ロードマップ', 
        steps: [
        { completed: true, title: '01.03.2015 ', description: 'リースされたプランテーションについて、中国の専門家と協力します。' },
        { completed: true, title: '2016年6月', description: '私達自分のプランテーションがスタートします。' },
        { completed: true, title: '2016年12月', description: '一回目の収穫' },
        { completed: true, title: '2017年9月', description: '<b>第一段階</b><br> 予備販売' },
        { completed: true, title: '2017年10月～11月 29日', description: '<b>第二段階</b><br>非公開販売' },
        { completed: true, title: '2017年11月29日～2018年2月28日', description: '<b>第三段階</b><br>TGE' },
        { completed: false, title: '2017年12月～2018年3月', description: '<b>第四段階</b><br>土地の整備' },
        { completed: false, title: '2018年4月～12月', description: '<b>第五段階</b><br>新しいプランテーションでバナナを栽培します。' },
        { completed: false, title: '2018年12月', description: '<b>第六段階</b><br>トークン' },
    ]
    } %} 
{% endif %}
{% if lang == 'cn' %}
    {% set roadmap = { 
        title: '路线图', 
        steps: [
        { completed: true, title: '2015年3月 ', description: '在租用的种植园方面与中国专家合作' },
        { completed: true, title: '2016年6月', description: '在们自己的种植园开始启动' },
        { completed: true, title: '2016年12月', description: '第一次收获' },
        { completed: true, title: '2017年9月', description: '<b>第一阶段</b><br> 预售' },
        { completed: true, title: '2017年10月 -11月 29日', description: '<b>第二阶段</b><br>不公开销售' },
        { completed: true, title: '2017年11月29日至2018年2月28日', description: '<b>第三阶段</b><br>TGE' },
        { completed: false, title: '2017年12月 - 2018年3月', description: '<b>第四阶段</b><br>土地整备' },
        { completed: false, title: '2018年4月 - 12月', description: '<b>第五阶段</b><br>在新的种植园里种植香蕉' },
        { completed: false, title: '2018年12月', description: '<b>第六阶段</b><br>代币' },
    ]
    } %} 
{% endif %}
{% if lang == 'fra' %}
    {% set roadmap = { 
        title: 'Feuille de route', 
        steps: [
        { completed: true, title: 'Mars 2015', description: 'Coopération avec des spécialistes chinois pour la location d une plantation' },
        { completed: true, title: 'Juin 2016', description: 'Lancement de notre propre plantation' },
        { completed: true, title: 'Décembre 2016', description: 'Première récole' },
        { completed: true, title: 'Septembre 2017', description: '<b>1ère étape</b><br> Pré-vente' },
        { completed: true, title: 'Octobre-Novembre 2017', description: '<b>2ème étape</b><br>Vente privée' },
        { completed: true, title: '29 Novembre - 28 Février 2018', description: '<b>3ème étape</b><br>TGE' },
        { completed: false, title: 'Décembre 2017 - Mars 2018', description: '<b>4ème étape</b><br>Préparation du sol' },
        { completed: false, title: 'Avril - Décembre 2018', description: '<b>5ème étape</b><br>Culture de bananes dans une nouvelle plantation' },
        { completed: false, title: 'Décembre 2018', description: '<b>6ème étape</b><br>Token' },
    ]
    } %} 
{% endif %}
{% if lang == 'de' %}
    {% set roadmap = { 
        title: 'Roadmap', 
        steps: [
        { completed: true, title: 'März 2015', description: 'Kooperation mit Chinesischen spezialisten auf einer gepachteten Plantage' },
        { completed: true, title: 'Juni 2016', description: 'Awir starten mit unserer eigenen Plantage' },
        { completed: true, title: 'Dezember 2016', description: 'Erste Ernte' },
        { completed: true, title: 'September 2017', description: '<b>1 Ebene</b><br>Vorverkauf' },
        { completed: true, title: 'Oktober - 29 November 2017', description: '<b>2 Ebene</b><br>Privatverkauf' },
        { completed: true, title: '29 November - 30 Februar 2018', description: '<b>3 Ebene</b><br>TGE' },
        { completed: false, title: 'Dezember 2017 - März 2018', description: '<b>4 Ebene</b><br>Vorbereitung des Grundes' },
        { completed: false, title: 'April - Dezember 2018', description: '<b>5 Ebene</b><br>Banenen auf einer neuen Plantage anbauen' },
        { completed: false, title: 'Dezember 2018', description: '<b>6 Ebene</b><br>Token' },
    ]
    } %} 
{% endif %}
{% if lang == 'ind' %}
    {% set roadmap = { 
        title: 'Peta Jalan', 
        steps: [
        { completed: true, title: 'Maret 2015', description: 'Kerja sama dengan spesialis China di perkebunan sewaan' },
        { completed: true, title: 'Juni 2016', description: 'Memulai perkebunan kami sendiri' },
        { completed: true, title: 'Desember 2016', description: 'Panen pertama' },
        { completed: true, title: 'September 2017', description: '<b>Tahap pertama</b><br>Pra-Penjualan' },
        { completed: true, title: 'Oktober - 29 Nopember 2017', description: '<b>Tahap Kedua</b><br>Penjualan Pribadi' },
        { completed: true, title: '29 Nopember - 29 Februari 2018', description: '<b>Tahap ketiga</b><br>TGE' },
        { completed: false, title: 'Desember 2017 - Maret 2018', description: '<b>Tahap keempat</b><br>Persiapan tanah' },
        { completed: false, title: 'April - Desember 2018', description: '<b>Tahap kelima</b><br>Menanam pisang di perkebunan baru' },
        { completed: false, title: 'Desember 2018', description: '<b>Tahap keenam</b><br>Token' },
    ]
    } %} 
{% endif %}
{% if lang == 'pt' %}
    {% set roadmap = { 
        title: 'Roteiro', 
        steps: [
            { completed: true, title: 'Março de 2015', description: 'Cooperação com especialistas chineses em uma plantação alugada em uma plantação alugada' },
            { completed: true, title: 'Junho de 2016', description: 'Começando em nossa própria plantação' },
            { completed: true, title: 'Dezembro de 2016', description: 'Primeira colheita' },
            { completed: true, title: 'Setembro de 2017', description: '<b>1º estágio</b><br> Pré-venda' },
            { completed: true, title: 'Outubro - 29 de novembro de 2017', description: '<b>2º estágio</b><br>Venda privada' },
            { completed: true, title: '29 novembro - 30 de fevereiro de 2018', description: '<b>3º estágio</b><br>TGE' },
            { completed: false, title: 'Dezembro 2017 - março 2018', description: '<b>4º estágio</b><br>Preparação do solo' },
            { completed: false, title: 'Abril - dezembro de 2018', description: '<b>5º estágio</b><br>Cultivando bananas em uma nova plantação' },
            { completed: false, title: 'Dezembro de 2018', description: '<b>6º estágio</b><br>Token' },
        ]
    } %}
{% endif %}
{% if lang == 'ar' %}
    {% set roadmap = { 
        title: 'خارطة الطريق', 
        steps: [
            { completed: true, title: 'في مارس 2015', description: 'تم التعاون مع المختصين الصينيين في المزرعة المستأجرة' },
            { completed: true, title: 'في يونيو 2016', description: 'بدء المزارع الخاصة بنا' },
            { completed: true, title: 'في ديسمبر 2016', description: 'الحصاد الأول' },
            { completed: true, title: 'في سبتمبر 2017', description: '<b>المرحلة الأولى</b><br> حملة ما قبل بيع' },
            { completed: true, title: 'من أكتوبر إلى 29 نوفمبر 2017', description: '<b>المرحلة الثانيةe</b><br>البيع الخاص' },
            { completed: true, title: 'من 29 نوفمبر الى 28 فبراير 2018', description: '<b>المرحلة الثالثة</b><br>حدث توليد الرموز' },
            { completed: false, title: 'من ديسمبر 2017 الى مارس 2018', description: '<b>المرحلة الرابعة</b><br>إعداد الأرض' },
            { completed: false, title: 'من أبريل إلى ديسمبر 2018', description: '<b>المرحلة الخامسة</b><br>تطوير مزارع الموز على مزرعة جديدة' },
            { completed: false, title: 'في ديسمبر 2018', description: '<b>المرحلة السادسة</b><br>الرمز' },
        ]
    } %}
{% endif %}
<div class="roadmap">
    <h2>{{ roadmap.title }}</h2>
    <ul>
        {% for step in roadmap.steps %}
        <li{{ step.completed ? ' class="completed"' : '' }}>
            <h4>{{ step.title }}</h4>
            <p>{{ step.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
