{% set ss = { 
    left_title: 'Participate in token sale',
    left_btn: '<a href="/token/" class="btn popup fancybox.ajax btn-yellow">Join</a>',
    right_title: 'Subscribe to receive updates',
} %}

{% if lang == 'ru' %}
    {% set ss = { 
        left_title: 'Принять участи в проекте',
        left_btn: '<a href="/token/" class="btn popup fancybox.ajax btn-yellow">Я хочу!</a>',
        right_title: 'Подпишитесь, чтобы получать новости',
    } %}
{% endif %}
<div class="subscribe">
    <div class="container">
    <div class="row mt-4 mb-4 justify-content-md-center">
            <div class="col-md-10 col-lg-6">
                <h3 class="mb-4">{{ ss.left_title }}</h3>
                <div class="buttons">
                    {{ ss.left_btn }}
                </div>
            </div>
            <div class="col-md-10 col-lg-6">
                <h3 class="mb-4">{{ ss.right_title }}</h3>
                {% include 'subscribe-form.html' %}
                <div class="social mt-4">
                    {% if socials %}
                    {% for social in socials %}
                    {{ social }}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>            
        </div>
    </div>
</div>