{% set team = { 
    title: 'Team',
    description: 'The team of the Bananacoin project is a solidary group of like-minded people who have a serious and successful business development experience',
    members: [
        {
            photo: '/img/OD.jpg',
            name: 'Oleg Dobrovolsky',
            info: 'He is a Russian entrepreneur and philanthropist. He has been developing the agroindustrial and ore complex in Lao PDR.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/AB.jpg',
            name: 'Alexander Bychkov',
            info: 'He was engaged in starting from scratch projects in wholesale and retail trade. In the project he is responsible for marketing and communications.',
            experience: 'His experience in marketing is 17 years.'
        },
        {
            photo: '/img/ANN.jpg',
            name: 'Anna Guncheva',
            info: '32 years old, owner of a creative agency. Having extensive background in advertising and marketing Anna is responsible for marketing and investor relationship in the project.',
            experience: ''
        },
        {
            photo: '/img/AM.jpg',
            name: 'Alexander Magomedov',
            info: 'He has been living in Lao PDR for 17 years. The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/DM.jpg',
            name: 'Dmitry Mazutov',
            info: 'He is a representative in China, Sichuan Province. He is a Specialist in foreign economic activity and an interpreter of English and Chinese languages.',
            experience: 'His experience of work in China is 7 years.'
        },
        {
            photo: '/img/PS.jpg',
            name: 'Mr. Prasan Sangsatjatham',
            info: 'He is the leading agronomist of the project. He graduated from Kasetsart University in Bangkok, Thailand, the agroindustrial faculty. He has been growing bananas in Thailand for a long time.',
            experience: 'His experience in the agro-industrial sector is 12 years.'
        },
        {
            photo: '/img/EH.jpg',
            name: 'Eugene Khashin',
            info: 'CTO <br> 30 years old, IT developer and entrepreneur. Eugene specializes in Big Data and Stateful services and occasionally plays drums. In Bananacoin Eugene   is responsible for smart-contract and personal account section.',
            experience: ''
        },
        {
            photo: '/img/PP.jpg',
            name: 'Peter Peng',
            info: 'Our technical partner (adviser) is always ready to answer queries and talk about the current work with Bananacoin.',
            experience: 'Peter is the CEO of Oren Irrigation Equipment Ltd., the company has in its own portfolio 10,000 hectares of irrigated land. The company is engaged in irrigation, automation of processes in the agroindustrial complex, sale of equipment and training of personnel.'
        }
    ]
} %}
{% if lang == 'ru' %}
{% set team = { 
    title: 'Команда',
    description: team.description,
    members: team.members
} %}
{% endif %}
        
<div class="team">
    <div class="container">
        <h2>{{ team.title }}</h2>
        <p>{{ team.description }}</p>
        <div class="row">
            {% for member in team.members %}
            <div class="col-md-4">
                <div class="photo">
                    <img src="{{ member.photo }}" alt="{{ member.name }}">
                    <h4>{{ member.name }}</h4>
                </div>
                <div class="info">
                    <p>{{ member.info }}</p>
                    {% if member.experience %}<div class="experience">{{ member.experience }}</div>{% endif %}
                </div>
            </div>
            {% endfor  %}
        </div>
    </div>
</div>