{% set team = { 
    title: 'Team',
    description: 'The team of the Bananacoin project is a solidary group of like-minded people who have a serious and successful business development experience',
    members: [
        {
            photo: '/img/OD.jpg?1',
            name: 'Oleg Dobrovolsky',
            info: '53 years old, Russian entrepreneur. Oleg is responsible for the interaction  of all of the working business departments and he is 100% involved in the project.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/AB.jpg?1',
            name: 'Alexander Bychkov',
            info: '35 years old, father of four and a businessman. Being involved in establishing companies in wholesale and retail sales “from scratch” for over 17 years Alexander is responsible for marketing and communications in the project.',
            experience: ''
        },
        {
            photo: '/img/ANN.jpg?1',
            name: 'Anna Guncheva',
            info: '32 years old, owner of a creative agency. Having extensive background in advertising and marketing, Anna is responsible for marketing and  investor relationships of the project.',
            experience: ''
        },
               {
            photo: '/img/EH.jpg?1',
            name: 'Eugene Khashin',
            info: 'CTO <br> 27 years old, IT developer and entrepreneur. Eugene specializes in Big Data and HighLoad services and occasionally plays drums. In Bananacoin, Eugene is responsible for smart-contract and personal account section.',
            experience: ''
        },
          {
            photo: '/img/NK.jpg?1',
            name: 'Nicola Kardashov',
            info: 'Project Advisor, Community Manager',
            experience: ''
        },
        {
            photo: '/img/DM.jpg?2',
            name: 'Dmitry Mazutov',
            info: 'Our representative in China, Sichuan Province. He is a Specialist in foreign economic activity and an interpreter of English and Chinese languages.',
            experience: 'His experience of work in China is 7 years.'
        },
        {
            photo: '/img/AM.jpg?1',
            name: 'Alexander Magomedov',
            info: 'He has been living in Lao PDR for 17 years. The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/PS.jpg?1',
            name: 'Mr. Prasan Sangsatjatham',
            info: '41 years old, the leading agronomist of the project. Along with his degree in Agro-Industry, Mr. Prasan has agricultural business in his blood – his family owns an extensive plantation in Thailand.',
            experience: 'His experience in the agro-industrial sector is 12 years.'
        },
        {
            photo: '/img/PP.jpg?1',
            name: 'Peter Peng',
            info: 'Our technical partner (adviser) is always ready to answer queries and talk about the current work with Bananacoin.',
            experience: 'Peter is the CEO of Oren Irrigation Equipment Ltd., the company has in its own portfolio 10,000 hectares of irrigated land. The company is engaged in irrigation, automation of processes in the agroindustrial complex, sale of equipment and training of personnel.'
        }
    ]
} %}
{% if lang == 'ru' %}
{% set team = { 
    title: 'Команда',
     description: 'Команда проекта Bananacoin - это сплоченный коллектив единомышленников',
    members: [
        {
            photo: '/img/OD.jpg?1',
            name: 'Олег Добровольский',
            info: 'Российский предприниматель
и филантроп, более 3-х лет
развивает агропромышлен-
ный комплекс в Лаосской
НДР. В проекте отвечает за
взаимодействие всех отделов
рабочего бизнеса, вовлечен в
проект на 100%.',
            experience: ''
        },
        {
            photo: '/img/AB.jpg?1',
            name: 'Александр Бычков',
            info: 'Серийный предприниматель,
занимался запуском с нуля
компаний оптово-розничных
продажах начиная с 2000
года.
В проекте отвечает за мар-
кетинг и коммуникации.',
            experience: ''
        },
        {
            photo: '/img/ANN.jpg?1',
            name: 'Анна Гунчева',
            info: '32 years old, owner of a creative agency. Having extensive background in advertising and marketing Anna is responsible for marketing and investor relationship in the project.',
            experience: ''
        },
        {
            photo: '/img/EH.jpg?1',
            name: 'Евгений Хашин',
            info: 'CTO <br> 27 years old, IT developer and entrepreneur. Eugene specializes in Big Data and HighLoad services and occasionally plays drums. In Bananacoin Eugene   is responsible for smart-contract and personal account section.',
            experience: ''
        },
          {
            photo: '/img/NK.jpg?1',
            name: 'Никола Кардашов',
            info: 'Project Advisor, Community Manager',
            experience: ''
        },
        {
            photo: '/img/DM.jpg?2',
            name: 'Дмитрий Мазутов',
            info: 'Представитель в Китае,
провинция Сычуань.
специалист по ВЭД, переводчик
английского и китайского язы-
ков. Проходил практику в Ляо-
ниском университете города Ше-
ньяна. Имеет большой опыт ра-
боты на управляющих должно-
стях. Срок работы в Китае —
8 лет. Работает в направлениях:
снабжение, сбыт, логистика, та-
можня, финансовый контроль,
переводы. В проекте отвечает
за сбыт продукции.',
            experience: 'His experience of work in China is 7 years.'
        },
         {
            photo: '/img/AM.jpg?1',
            name: 'Александр Магомедов',
            info: '17 лет живет в Лаосской
НДР. 12 лет занимался экс-
портом в Россию ценных по-
род дерева. Последние 3 года
занимается агропромышлен-
ным бизнесом — выращивает
и экспортирует бананы. Сво-
бодно говорит на лаосском
языке, имеет прочные связи с
губернатором провинции
Вьентьян, где находятся наши
поля. В проекте отвечает за
эффективное функциониро-
вание плантаций.',
            experience: ''
        },
        {
            photo: '/img/PS.jpg?1',
            name: 'Mr. Prasan Sangsatjatham',
            info: 'Ведущий агроном проекта
закончил агропромышленный
факультет в Kasetsart University
в Бангкоке. Долгое время за-
нимался выращиванием бана-
нов, его семья владеет обшир-
ной плантацией в Таиланде.',
            experience: ''
        },
        {
            photo: '/img/PP.jpg?1',
            name: 'Петер Пенг',
            info: 'Генеральный директор
компании Oren Irrigation
Equipment Ltd., имеющей в
своем портфеле 10 000 га
орошаемой земли. Компа-
ния занимается ирригаци-
ей, автоматизирует про-
цессы в агропромышлен-
ном комплексе, продает
оборудование и обучает
персонал.',
            experience: ''
        }
    ]
} %}
{% endif %}
{% if lang == 'es' %}
{% set team = { 
    title: 'Equipo',
     description: 'El equipo del proyecto Bananacoin es un grupo solidario de personas con ideas afines que tienen una experiencia seria y exitosa en de desarrollo empresarial',
    members: [
        {
            photo: '/img/OD.jpg?1',
            name: 'Oleg Dobrovolsky',
            info: 'Con 53 años, Empresario Ruso. Oleg es responsable de la interaccion de todos los miembros del departamento de negocios. El esta 100% involucrado en el proyecto. ',
            experience: 'Su experiencia en el campo agroindustrial es de 3 años.'
        },
        {
            photo: '/img/AB.jpg?1',
            name: 'Alexander Bychkov',
            info: 'Con 35 años, padre de cuatro hijos y hombre de negocios. Estuvo involucrado en el establecimiento de empresas en el sector de ventas minoristas y mayoristas desde cero durante 17 años, Alexander es responsable de marketing y comunicaciones en Banancoin.',
            experience: ''
        },
        {
            photo: '/img/ANN.jpg?1',
            name: 'Anna Guncheva',
            info: '32 años, dueña de una agencia creativa. Tiene una amplia experiencia en publicidad y marketing, Anna es reponsable de las relaciones de comercialización e inversión de Banancoin.',
            experience: ''
        },
        {
            photo: '/img/EH.jpg?1',
            name: 'Eugene Khashin',
            info: 'Con 27 años, desarrollador de TI y emprendedor. Eugene se especializa en servicios de Big Data y HighLoad y ocasionalmente toca tambores. En Bananacoin, Eugene es responsable de la sección de cuentas personales y contratos inteligentes.',
            experience: ''
        },
          {
            photo: '/img/NK.jpg?1',
            name: 'Nicola Kardashov',
            info: 'Asesor del Proyecto.  Jefe de relaciones',
            experience: ''
        },
        {
            photo: '/img/DM.jpg?2',
            name: 'Dmitry Mazutov',
            info: 'Nuestro representante en China, provincia de Sichuan. Es especialista en actividad económica extranjera e intérprete de inglés y chino. ',
            experience: 'Su experiencia de trabajo en China es de 7 años.'
        },
        {
            photo: '/img/AM.jpg?1',
            name: 'Alexander Magomedov',
            info: 'He has been living in Lao PDR for 17 years. The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/PS.jpg?1',
            name: 'Mr. Prasan Sangsatjatham',
            info: 'Con 41 años, es el agrónomo líder del proyecto. Junto con su título en Agroindustria, el Sr. Prasan tiene negocios agrícolas en su sangre, su familia posee una extensa plantación en Tailandia.',
            experience: ' Su experiencia en el sector agroindustrial es de 12 años.'
        },
        {
            photo: '/img/PP.jpg?1',
            name: 'Peter Peng',
            info: 'Nuestro socio técnico (asesor) siempre está listo para responder consultas y hablar sobre el trabajo actual con Bananacoin. ',
            experience: 'Peter es el CEO de Oren Irrigation Equipment Ltd., la empresa tiene en su cartera 10.000 hectáreas de tierra de regadío. La empresa se dedica al riego, automatización de procesos en el complejo agroindustrial, venta de equipos y capacitación de personal.'
        }
    ]
} %}
{% endif %}
        
<div class="team">
    <div class="container">
        <h2>{{ team.title }}</h2>
        <p>{{ team.description }}</p>
        <div class="row members">
            {% for member in team.members %}
            <div class="col-12 col-md-4">
                <div class="photo">
                    <img src="{{ member.photo }}" alt="{{ member.name }}">
                </div>
                <div class="info">
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.info }}</p>
                    {% if member.experience %}<div class="experience">{{ member.experience }}</div>{% endif %}
                </div>
            </div>
            {% endfor  %}
        </div>
    </div>
</div>