{% set team = { 
    title: 'Team',
    description: 'The team of the Bananacoin project is a solidary group of like-minded people who have a serious and successful business development experience',
    members: [
        {
            photo: '/img/OD.jpg',
            name: 'Oleg Dobrovolsky',
            info: '53 years old, Russian entrepreneur. Oleg is responsible for the interaction  of all of the working business departments and he is 100% involved in the project.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/AB.jpg',
            name: 'Alexander Bychkov',
            info: '35 years old, father of 4 and a businessman. Being involved in establishing companies in wholesale and retail sales “from scratch” for over 17 years Alexander is responsible for marketing and communications in the project.',
            experience: ''
        },
        {
            photo: '/img/ANN.jpg',
            name: 'Anna Guncheva',
            info: '32 years old, owner of a creative agency. Having extensive background in advertising and marketing Anna is responsible for marketing and investor relationship in the project.',
            experience: ''
        },
               {
            photo: '/img/EH.jpg',
            name: 'Eugene Khashin',
            info: 'CTO <br> 27 years old, IT developer and entrepreneur. Eugene specializes in Big Data and HighLoad services and occasionally plays drums. In Bananacoin Eugene   is responsible for smart-contract and personal account section.',
            experience: ''
        },
          {
            photo: '/img/NK.jpg',
            name: 'Nicola Kardashov',
            info: 'Project Advisor, Community Manager',
            experience: ''
        },
        {
            photo: '/img/AM.jpg',
            name: 'Alexander Magomedov',
            info: 'He has been living in Lao PDR for 17 years. The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/DM.jpg',
            name: 'Dmitry Mazutov',
            info: 'He is a representative in China, Sichuan Province. He is a Specialist in foreign economic activity and an interpreter of English and Chinese languages.',
            experience: 'His experience of work in China is 7 years.'
        },
        {
            photo: '/img/PS.jpg',
            name: 'Mr. Prasan Sangsatjatham',
            info: '41 years old, the leading agronomist of the project. Along with his degree  in Agro-Industrial. Mr. Prasan has agricultural business is in his blood – his family owns an extensive plantation in Thailand.',
            experience: 'His experience in the agro-industrial sector is 12 years.'
        },
        {
            photo: '/img/PP.jpg',
            name: 'Peter Peng',
            info: 'Our technical partner (adviser) is always ready to answer queries and talk about the current work with Bananacoin.',
            experience: 'Peter is the CEO of Oren Irrigation Equipment Ltd., the company has in its own portfolio 10,000 hectares of irrigated land. The company is engaged in irrigation, automation of processes in the agroindustrial complex, sale of equipment and training of personnel.'
        }
    ]
} %}
{% if lang == 'ru' %}
{% set team = { 
    title: 'Команда',
     description: 'Команда проекта Bananacoin - это сплоченный коллектив единомышленников',
    members: [
        {
            photo: '/img/OD.jpg',
            name: 'Олег Добровольский',
            info: '53 years old, Russian entrepreneur. Oleg is responsible for the interaction  of all of the working business departments and he is 100% involved in the project.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/AB.jpg',
            name: 'Александр Бычков',
            info: '35 years old, father of 4 and a businessman. Being involved in establishing companies in wholesale and retail sales “from scratch” for over 17 years Alexander is responsible for marketing and communications in the project.',
            experience: ''
        },
        {
            photo: '/img/ANN.jpg',
            name: 'Анна Гунчева',
            info: '32 years old, owner of a creative agency. Having extensive background in advertising and marketing Anna is responsible for marketing and investor relationship in the project.',
            experience: ''
        },
        {
            photo: '/img/EH.jpg',
            name: 'Евгений Хашин',
            info: 'CTO <br> 27 years old, IT developer and entrepreneur. Eugene specializes in Big Data and HighLoad services and occasionally plays drums. In Bananacoin Eugene   is responsible for smart-contract and personal account section.',
            experience: ''
        },
          {
            photo: '/img/NK.jpg',
            name: 'Никола Кардашов',
            info: 'Project Advisor, Community Manager',
            experience: ''
        },
        {
            photo: '/img/AM.jpg',
            name: 'Александр Магомедов',
            info: 'He has been living in Lao PDR for 17 years. The last 5 years he has been engaged in agro- industrial business, namely, the cultivation and export of fruit, in particular bananas. He is fluent in Lao language.',
            experience: 'His experience in the agro-industrial field is 3 years.'
        },
        {
            photo: '/img/DM.jpg',
            name: 'Дмитрий Мазутов',
            info: 'He is a representative in China, Sichuan Province. He is a Specialist in foreign economic activity and an interpreter of English and Chinese languages.',
            experience: 'His experience of work in China is 7 years.'
        },
        {
            photo: '/img/PS.jpg',
            name: 'Mr. Prasan Sangsatjatham',
            info: '41 years old, the leading agronomist of the project. Along with his degree  in Agro-Industrial. Mr. Prasan has agricultural business is in his blood – his family owns an extensive plantation in Thailand.',
            experience: 'His experience in the agro-industrial sector is 12 years.'
        },
        {
            photo: '/img/PP.jpg',
            name: 'Петер Пенг',
            info: 'Our technical partner (adviser) is always ready to answer queries and talk about the current work with Bananacoin.',
            experience: 'Peter is the CEO of Oren Irrigation Equipment Ltd., the company has in its own portfolio 10,000 hectares of irrigated land. The company is engaged in irrigation, automation of processes in the agroindustrial complex, sale of equipment and training of personnel.'
        }
    ]
} %}
{% endif %}
        
<div class="team">
    <div class="container">
        <h2>{{ team.title }}</h2>
        <p>{{ team.description }}</p>
        <div class="row members">
            {% for member in team.members %}
            <div class="col-12 col-md-4">
                <div class="photo">
                    <img src="{{ member.photo }}" alt="{{ member.name }}">
                </div>
                <div class="info">
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.info }}</p>
                    {% if member.experience %}<div class="experience">{{ member.experience }}</div>{% endif %}
                </div>
            </div>
            {% endfor  %}
        </div>
    </div>
</div>