{% set why = { 
    title: 'Why participate in Bananacoin', 
    description: 'Bananacoin is the world’s first blockchain option for participating in the production of organic bananas in Vientiane province, Laos.',
    adv: [
        'The deficit of banana export to China is estimated at 30,000 hectares, and the consumption is increasing',
        'The price of Bananacoin token is protected by the cost of one kilogram of bananas',
        'In the medium term, our team is planning to increase the production area to 1,000 hectares',
        'Cultivated variety of bananas Lady Finger is the most expensive and the most popular on the Chinese market',
        'Every participant has the right to personally visit our plantations in Vientiane province, the Lao PDR',
        'Our business is easy to scale and it is growing into a serious player in the Asian fruit market'
    ]
} %}
{% if lang == 'ru' %}
    {% set why = { 
        title: 'Зачем инвестировать в Bananacoin', 
        description: 'Bananacoin - это первый в мире блокчейн-опцион для инвестирования в производство экологически чистых бананов на территории провинции Вьентьян, Лаоская НДР.',
    adv: [
        'Дефицит экспорта бананов в Китай оценивается в 30.000 гектар, рост потребления растет, а все больше китайских плантаций закрывают за применение химии',
        'Цена токена Bananacoin защищена стоимостью килограмма бананов',
        'В среднесрочном промежутке мы планируем увеличить территорию плантации до 1,000 гектаров',
        'Наш бизнес полностью прозрачен, мы уже прошли все этапы его развития и считаем себя профессионалами своего дела',
        'Каждый участник имеет право лично посетить наши плантации, в провинции Вьентьян, Лаосская НДР',
        'Наш бизнес легко масштабируется и вырастет в серьезного игрока на азиатском рынке фруктов'
    ]
    } %} <!-- пример наследования англ варианта -->
{% endif %}
<div class="why">
    <div class="container">
        <h2>{{ why.title }}</h2>
        <div class="banana-coin"></div>
        <p>{{ why.description }}</p>
        <ol>
            {% for a in why.adv %}
            <li>{{ a }}</li>
            {% endfor %}
        </ol>
    </div>
<!--
    <div class="row justify-content-center m-5">
        <a href="{{ lang != 'en' ? '/'~lang : '' }}/faq/" class="btn btn-yellow btn-icon icon-sale">Our Pre-sale is now open</a>
    </div>
    -->
</div> 