<!doctype html>
<html>

<head>
    <title>Bananacoin - Modelo de negocio </title>
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>Modelo de negocio del desarrollo del proyecto BananaCoin con el ejemplo de una plantación de 100 hectáreas</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>La plantación de 100 hectáreas, sembrada con plátanos de la variedad "Finger Lady", genera ingresos por la venta de la cosecha en la cantidad de 4.520.000 USD por una cosecha, siempre que el precio de 1 kg de fruta orgánica exportada sea
                    1 DÓLAR ESTADOUNIDENSE.</p>
                <p>Para un crecimiento efectivo de las plantas, se recomienda que la distancia entre los hoyos donde se plantan los árboles jóvenes de plátanos no sea menor a 1.82 por 1.52 metros, nos da aproximadamente 3,616 plantas por una hectárea. Obtenemos 361,600 plantas por 100 hectáreas.</p>
                <p>Cada Plata de la variedad «Finger Lady» da 12,5 (doce punto cinco décimas) kilogramos de cultivo orgánico de exportación (se cortan frutas no adecuadas) y si el precio es de 1 USD por 1 kg y hay 361,600 plantas en una plantación de 100 hectáreas y el ingreso de su venta es de 4.520.000 USD.</p>

                <h3>Costo de inversión para el lanzamiento de una plantación de 100 hectáreas</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Costo por 100 hectáreas en dólares</th>
                            <th>Unidad</th>
                            <th>Costo por 1 Hectares</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alquiler de tierra</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Limpieza de tierra</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Sistema de riego</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Tractores y maquinaria</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Carreteras y tanques</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Líneas de energía eléctrica y transformadores</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Lugar de producción listo</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Plantas</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Almacenes e instalaciones de almacenamiento</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Vehículos</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Costos laborales durante 1 año</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>
                <p>El período de maduración completa de la fruta, comenzando desde la siembra, generalmente toma 8 meses desde el momento de colocar la planta en el suelo. El plátano es una planta perenne (hasta 9 años), después de la cosecha se seleccionan los brotes más fuertes de la planta principal para formar la planta para la próxima cosecha. El tronco principal se corta, los brotes débiles se eliminan. El período de maduración de la fruta desde el segundo ciclo es de 5 meses.</p>

                <h3>Cálculo de la economía para la primera cosecha</h3>
                <p>Además de los gastos de inversión cada año, la plantación conlleva los siguientes costos.</p>

                <h3>Gastos de operación para el primer año</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Fertilizantes</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricidad</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Embalaje y transporte</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Los costos originalmente asignados al gasto de inversión también se agregan a partir del segundo año.</p>
                <h3>Gastos de funcionamiento del segundo año</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Alquiler de tierra + 3% por año</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>Costes laborales</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Fertilizantes</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Electricidad</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Embalaje y transporte</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Presta atención a esto! De conformidad con la legislación de la República Democrática Popular Lao, todos los negocios durante los primeros cuatro años están completamente exentos de impuestos.</p>
                <p>El beneficio de la primera cosecha será:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>Siempre que el precio de 1 kg de plátanos orgánicos exportados sea de 1 USD.</p>

                <img src="/img/banana-chart.gif">

                <p>Durante la operación de nuestra plantación en la provincia de Vientiane, la RDP Lao, hemos realizado una gráfica de las fluctuaciones de precios, que muestra perfectamente que el precio nunca ha caído por debajo de 1.14 USD (100 yuan por una caja de bananas de 13 kg). </p>
                <p>Como ya lo hemos mencionado, la cantidad de plantaciones chinas está disminuyendo, el déficit de bananos está creciendo, el precio solo va a aumentar. En algunos meses, el precio ya ha alcanzado los 3,5 USD (300 yuanes por una caja de bananas de 13 kg).</p>
                <p>La oferta de inversión formada por nuestro equipo se basa en el precio de 1 USD por 1 kg. De acuerdo con nuestro modelo económico, podemos cumplir totalmente con los términos de la opción blockchain en 18 meses después del TGE. </p>

            </div>
        </div>
        {% include 'footer.html' %}