<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BananaCoin : Organic plantation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link href="/img/favicon.ico" rel="icon">
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>BananaCoin — is the first eco plantation in the region</h2>
            </div>
        </div>
        <div class="about">
            <div class="container plantation">
                <img src="/img/plan1.jpg" class="main">
                <h3><a href="http://www.asianews.it/news-en/Chinese-banana-plantations-banned-for-endangering-the-environment-and-farm-workers-39818.html">At present the authorities of northern Lao Bokeo province have suspended the activities of 18 Chinese supported banana plantations</a>                    after that they discovered violations of the rules of the use of agricultural chemicals. </h3>
                <p>This tendency will be continuing as the number of such cases is rising.</p>
                <p>It is impossible to fully evaluate the negative impact of the use of chemical fertilizers on nature and human life. The utilization of pesticides makes bananas inedible for consumption and the cultivated lands infected.

                </p>
                <p>63% of the workers involved in the work on plantations that use chemicals instead of organic fertilizer, have been ill during the past 6 months. The main symptoms are headache and dizziness.
                </p>
                <p>We use guano or manure of bats which is organic, eco-friendly and well-balanced fertilizer. It supports and greatly accelerates the formation of new roots, enriches plants during the flowering period and increases their resistance to bacteria.
                    It improves the quality and taste of bananas.
                </p>
                <div class="team">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/pEW-UNKnw1Q?autoplay=1">
                                    <img src="/img/vid4.jpg" alt="BananaCoin uses only organic fertilizers">
                                </a>
                                <p>BananaCoin uses only organic fertilizers</p>
                            </div>
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/8-vPnUJ0kws?autoplay=1">
                                    <img src="/img/vid5.jpg" alt="The first steps to open a plantation">
                                </a>
                                <p>The first steps to open a plantation</p>
                            </div>
                            <div class="col-md-4">
                                <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/saxRqUOIOvs?autoplay=1">
                                    <img src="/img/vid6.jpg" alt="Important documents">
                                </a>
                                <p>Important documents</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="gallery">
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal4.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal4-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal5.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal5-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal7.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal7-t.jpg" /></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="/img/gal8.jpg" class="thumbnail fancybox" rel="gallery"><img src="/img/gal8-t.jpg" /></a>
                    </div>
                </div>

            </div>
        </div>

        {% include 'footer.html' %}