<!doctype html>
<html>

<head>
    <title>BananaCoin ICO: Business plan </title>
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        <div class="heading">
            <div class="container">
                <h2>Geschäftsmodell der Projektentwicklung BananaCoin am Beispiel einer 100 Hektar großen Plantage</h2>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <p>&nbsp;</p>
                <p>Die Plantage von 100 Hektar, die mit Bananen der Sorte "Finger Lady" besät wird, bringt Einnahmen aus dem Verkauf der Ernte in Höhe von 4.520.000 USD pro Ernte, wobei der Preis von 1 kg exportiertem Bio-Obst um $1 liegt.
                </p>
                <p>Für ein effektives Pflanzenwachstum wird empfohlen, dass der Abstand zwischen den Löchern, in denen Bananen gepflanzt werden, nicht weniger als 1,82 mal 1,52 Meter beträgt, was uns etwa 3 616 Pflanzen pro Hektar gibt. Wir bekommen 361 600 Pflanzen für 100 Hektar.</p>
                <p>Jede «Finger-Lady» -Pflanze ergibt 12,5 Kilogramm ökologisches Exportgut (ungeeignete Früchte werden geschnitten), und wenn der Preis 1 USD pro 1 kg beträgt, gibt es 361 600 Pflanzen auf einer Plantage von 100 Hektar. Das Einkommen aus ihrem Verkauf beträgt 4.520.000 USD.</p>

                <h3>Investitionskosten für den Start einer Plantage von 100 Hektar</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Kosten pro 100 Hektar in Dollar</th>
                            <th>Einheit</th>
                            <th>Kosten pro 1 Hektar</th>
                            <th>Gesamt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Miete des Landes</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Bodenreinigung</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Bewässerungssystem</td>
                            <td>100</td>
                            <td>$6 652,94</td>
                            <td>$665 294,12</td>
                        </tr>
                        <tr>
                            <td>Traktoren und Maschinen</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Straßen und Tanks</td>
                            <td>100</td>
                            <td>$463,24</td>
                            <td>$46 324,27</td>
                        </tr>
                        <tr>
                            <td>Stromleitungen und Transformatoren</td>
                            <td>100</td>
                            <td>$443</td>
                            <td>$44 300</td>
                        </tr>
                        <tr>
                            <td>Bereit Produktionsplatz</td>
                            <td>100</td>
                            <td>$63,97 </td>
                            <td>$6 397,06</td>
                        </tr>
                        <tr>
                            <td>Pflanzen</td>
                            <td>100</td>
                            <td>$1 627</td>
                            <td>$162 700</td>
                        </tr>
                        <tr>
                            <td>Lagereinrichtungen</td>
                            <td>100</td>
                            <td>$511,76</td>
                            <td>$51 176,47</td>
                        </tr>
                        <tr>
                            <td>Fahrzeuge</td>
                            <td>100</td>
                            <td>$767,65</td>
                            <td>$76 764,71</td>
                        </tr>
                        <tr>
                            <td>Arbeitskosten während 1 Jahr</td>
                            <td>100</td>
                            <td>$7 676,47</td>
                            <td>$767 647,06</td>
                        </tr>
                        <tr>
                            <td>Gesamt</td>
                            <td></td>
                            <td>$20 344,57</td>
                            <td>$2 034 456,62</td>
                        </tr>
                    </tbody>
                </table>
                <p>Die Periode der vollständigen Fruchtreife, beginnend mit der Pflanzung, dauert gewöhnlich 8 Monate ab dem Zeitpunkt, an dem die Pflanze in den Boden eingebracht wird. Banane ist eine mehrjährige Pflanze (bis zu 9 Jahren), nach der Ernte werden die stärksten Triebe aus der Hauptpflanze ausgewählt, um die Pflanze für die nächste Ernte zu bilden. Der Hauptstamm wird geschnitten, die schwachen Triebe werden entfernt. Die Fruchtreifezeit ab dem zweiten Zyklus beträgt 5 Monate.</p>

                <h3>Berechnung der Wirtschaft für die erste Ernte</h3>
                <p>Neben den jährlichen Investitionsausgaben trägt die Plantage folgende Kosten.</p>

                <h3>Betriebsausgaben für das erste Jahr</h3>

                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Dünger</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Elektrizität</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Verpackung und Transport</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Gesmamt</td>
                            <td>$492 647,06</td>
                        </tr>
                    </tbody>
                </table>

                <p>Kosten, die ursprünglich in Investitionsausgaben investiert wurden, kommen ebenfalls ab dem zweiten Jahr hinzu</p>
                <h3>Betriebskosten ab dem zweiten Jahr</h3>


                <table class="table" style="max-width: 500px">
                    <tbody>
                        <tr>
                            <td>Miete von Land + 3% pro Jahr</td>
                            <td>$52 711,76</td>
                        </tr>
                        <tr>
                            <td>Arbeitskosten</td>
                            <td>$366 666,67</td>
                        </tr>
                        <tr>
                            <td>Dünger</td>
                            <td>$102 941,18</td>
                        </tr>
                        <tr>
                            <td>Elektrizität</td>
                            <td>$22 058,82</td>
                        </tr>
                        <tr>
                            <td>Verpackung und Transport</td>
                            <td>$367 647,06</td>
                        </tr>
                        <tr>
                            <td>Gesamt</td>
                            <td>$912 025,49</td>
                        </tr>
                    </tbody>
                </table>

                <p>Wichtig! Nach den Gesetzen der laotischen PDR sind alle Geschäfte in den ersten vier Jahren vollständig steuerfrei.</p>
                <p>Der Gewinn von der ersten Ernte wird sein:</p>
                <p>4.520.000 USD - 2.034.456,62 USD - 492.647,06 USD = 1.992.896,32 USD</p>
                <p>Vorausgesetzt, der Preis von 1 kg exportierter Bio-Bananen beträgt 1 USD.</p>

                <img src="/img/price_chng.jpg">
                <br>
                <p>Während des Betriebs unserer Plantage in der Provinz Vientiane, der Lao PDR, haben wir eine Analyse der Preisschwankungen erstellt, welche perfekt zeigt, dass der Preis niemals unter 1,14 USD gefallen ist (100 Yuan für eine 13 kg Kiste Bananen).</p>
                <p>Wie wir bereits erwähnt haben, ist die Anzahl der chinesischen Plantagen rückläufig, das Bananen-Defizit wächst, der Preis wird nur steigen. In einigen Monaten hat der Preis bereits 3,5 USD erreicht (300 Yuan für eine 13 kg Kiste Bananen).
                </p>
                <p>Das von unserem Team gebildete Anlageangebot basiert auf dem Preis von 1 USD pro 1 kg. Gemäß unserem ökonomischen Modell sind wir in der Lage, die Bedingungen der Blockchain-Option in 18 Monaten nach dem ICO vollständig einzuhalten.</p>
                <p>Den vollständigen Geschäftsplan finden Sie im «Persönlichen Konto».</p>

            </div>
        </div>

        {% include 'footer.html' %}