<!doctype html>
<html>

<head>
    <title>Bananacoin - Utility токен на блокчейне Ethereum</title>
    <meta name="description" content="Bananacoin - это utility токен на блокчейне Ethereum, привязанный к экспортной цене одного килограмма бананов.">
    <meta name="keys" content="криптовалюта, выгодные криптовалюты 2017, криптовалюта новости 2017, русская криптовалюта, инвестиции в криптовалюту, блокчейн и криптовалюта, российская криптовалюта, самая перспективная криптовалюта, новые криптовалюты 2017, новый блокчейн, перспективная криптовалюта 2017, топ 10 криптовалют, лучшие криптовалюты 2017, криптовалюта 2018, блокчейн компания, блокчейн 2017, ico блокчейн, телеграмм криптовалюты, криптовалюты набирающие популярность, надежная криптовалюта, лучшая криптовалюта, официальные криптовалюты, заработок на криптовалюте, прогноз криптовалют, новости криптовалют, лучшая криптовалюта, , криптовалюта отзывы, криптовалюты 2017 года, выгодные криптовалюты, криптовалюта в реальном времени, новости криптовалюты последнее, выгодные криптовалюты, криптовалюты 2017 года">
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        <a name="plantation" id="plantation"></a>
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        <a name="team" id="team"></a>
        {% include 'team.html' %}
        {% include 'partners.html' %}
        {% include 'newslist.html' %}
        <a name="faq" id="faq"></a>
        {% include 'faq.html' with {limit:7} %}
        {% include 'footer.html' %}