<!doctype html>
<html>

<head>
    <title>Bananacoin La première plantation respectueuse de l'environnement au Laos a lancé un token basé sur Ethereum, corrélé au prix à l'exportation d'un 1 kg de bananes.</title>
    <meta name="description" content="">
    <meta name="keys" content="">
    {% include 'head.html' %}
</head>

<body class="{{ lang }}">
    {% include 'nav.html' %}
    <main>
        {% include 'intro.html' %}
        <a name="plantation" id="plantation"></a>
        {% include 'plantation.html' %}
        {% include 'documents.html' %}
        {% include 'why.html' %}
        {% include 'roadmap.html' %}
        <a name="team" id="team"></a>
        {% include 'team.html' %}
        {% include 'partners.html' %}
        {% include 'newslist.html' %}
        <a name="faq" id="faq"></a>
        {% include 'faq.html' with {limit:7} %}
        {% include 'footer.html' %}